[2015-03-19 16:17] dylanz commented on #3327
Ugh... this was actually user error.  I had too many clusters up and realized I was logged into the wrong one (one which I hadn't installed the platform on yet).  My healthy cluster has 3 of 5 healthy (the instances that have the router running).  My bad.  Thank you both!

[2015-03-19 16:17] #3327 closed

[2015-03-19 16:37] dylanz opened #3335 "Customizing Controller domain"
We currently have a small cluster who's controller is accessible at deis.foobar.com, but are planning on using a larger cluster (bigger machines).  This cluster is going to use the same domain, and was wondering if there was a way to customize the Controller subdomain (currently "deis") so that I can get the new cluster configured while the old is still running?

I saw the /deis/domains/* setting

[2015-03-19 16:55] bacongobbler commented on #3335
This is currently hardcoded in the router as well as the controller (can't let someone create an app with the name `deis` :smile) but I can see the use case for it.

[2015-03-19 16:59] mboersma commented on #1775
Believe it or not, it worked for me this time.
[code]

[2015-03-19 17:03] dylanz opened #3336 "Orphaned bridge interfaces w/ Docker"
This is more likely a Docker specific issue, but I would think others using a default EC2 cluster would run into something like this (which is why I'm posting it here).

We have a high memory usage Deis installation on machines that can't handle the load, and are currently in the process of migrating to a new cluster.  On our current cluster, it looks like there is a lot of container churn due to

[2015-03-19 17:05] dylanz commented on #3335
Ah... that makes a lot of sense =)  I'll definitely take a look at what it would take to allow customization to that subdomain, but in the meantime, do you have any thoughts on how to run two parallel platform installations using the same domain?

[2015-03-19 17:19] bacongobbler commented on #3335
If you modify [this line](https://github.com/deis/deis/blob/master/router/image/templates/nginx.conf#L73) here to the subdomain of your choice and push that change as a custom router, you should be good to go for both controllers on the same domain.

As for application routing, you can try the following DNS records (caveat emptor: here be dragons):

[code]

If that fails to work, you might need to

[2015-03-19 17:23] bacongobbler commented on #1775
:tada:

[2015-03-19 17:44] carmstrong commented on #3336
Upgrading Docker involves upgrading CoreOS. CoreOS 607.0.0 with Docker 1.5.0 just landed in the stable channel, so you can follow the upgrading instructions to upgrade: http://docs.deis.io/en/latest/managing_deis/upgrading-deis/#upgrading-coreos

[2015-03-19 17:49] dylanz commented on #3336
Chris!  This is perfect (I missed it).  I did do a "systemctl docker restart" and was able to quickly launch my container before the interface level maxed out again (if that helps anyone else).  I'm definitely going to go for the CoreOS upgrade.  Thanks!

[2015-03-19 17:49] #3336 closed

[2015-03-19 17:51] carmstrong commented on #3323
It isn't - I think the issue with Docker is coincidental, and is remedied by restarting Docker. I don't think this has anything to do with adding new nodes.

I would `cat /etc/os-release` on your hosts - I'm betting that the new hosts are CoreOS 607.0.0 which default to OverlayFS, and your old hosts are using btrfs.

[2015-03-19 17:53] dylanz commented on #3335
This is super helpful.  Thank you!

[2015-03-19 17:53] #3335 closed

[2015-03-19 17:55] carmstrong commented on #2741
Can you share any information on the circumstances that lead to this for you? Are your backups large, or is wal-e unable to write to the gateway component?

We need to address this in the backup loop logic, but there must be something else happening in your cluster to cause it to happen so regularly.

[2015-03-19 18:23] ianblenke commented on #2959
Experienced this today myself, PV this time (not HVM):

[code]

[2015-03-19 18:24] ianblenke commented on #2959
Note: the memory referenced there is swap. Yes, I enabled swap. IO to the root disk stopped as there was some kind of kernel panic that I missed just before. In the past, this has been cephfs falling over because ceph-md is unhappy because ceph-mon is unhappy about clock drift.

[2015-03-19 18:26] carmstrong commented on #2959
Ok, that explains why etcd falls over:
[code]

Unfortunately there's no smoking gun held by Ceph that I can see. If we can get a panic with a stacktrace that shows Ceph doing something wrong, we can send it to the ceph-users group and see if anyone has any ideas.

[2015-03-19 18:29] carmstrong commented on #2959
Anecdotally, I've also heard that using the kernel client on the same machine as an OSD can result in a deadlock condition in some scenarios, although no one seems to know exactly how or why. And we really have no choice here.

[2015-03-19 18:49] gvilarino opened #3337 "bug(services) deis apps:destroy doesn't delete root directory"
1. Let's say I create app  `mytest`
2. I deploy via `deis pull someImage --app mytest` to it.
3. I run it and use it.
4. I `ssh` into a node and `/opt/bin/deis-debug-logs | grep /deis/services/mytest` lists:
  `/deis/services/mytest`
  `/deis/services/mytest/mytest_v3.cmd.1`
5. Logout and `deis destroy --app mytest --confirm mystest`
6. Wait for a bit
7. `ssh` back into a node and `/opt/bin/deis-d

[2015-03-19 18:59] gvilarino commented on #3337
@bacongobbler indicated that those directories *should* be deleted automatically, [as can be deduced from this code](https://github.com/deis/deis/blob/master/controller/api/models.py#L909-L911). But it doesn't seem to be working.

I'm fixing these cases manually with `etcdctl rm --recursive /deis/services/mytest` but that doesn't scale for prod.

[2015-03-19 19:27] ngerakines opened #3338 "Setting a configuration value prevents further application pushes"
When a specific application configuration has been set no further pushes to deis for the application succeed.

Given the variable is set with:

    $ deis config:set NETSUITE_AUTH="NLAuth nlauth_account=000001, nlauth_email=xxx, nlauth_signature=yyy, nlauth_role=zzz"

Pushing to the deis application's git repository fails:

    $ git push deis release-2.0.0:master
    Counting objects: 1, done.

[2015-03-19 19:28] ngerakines commented on #3338
It should be noted that unsetting that specific application configuration key fixes it.

    $ deis config:unset NETSUITE_AUTH

[2015-03-19 20:50] carmstrong commented on #3338
I suspect this has to do with config value escaping, again: #2980

:(

[2015-03-19 20:53] mboersma commented on #1775
Deis on vagrant/VMware is working for me now with the latest version of the vmware_fusion vagrant plugin, and it sounds like @zubairov had found a workaround earlier. I'm going to close this issue, but let's open new ones if we find any other issues specific to Deis on vagrant/VMware.

[2015-03-19 20:53] #1775 closed

[2015-03-19 22:13] #3294 closed

[2015-03-20 01:07] aledbf opened #3341 "Proposal feat(controller): allow deis pull from deis-registry"
Something like

[code]

to allow the deploy in `application-b` from `application-a` without using internal ip addresses

[2015-03-20 06:31] ineu commented on #2741
@carmstrong I don't think they are large, as the cluster was created about a week ago and doesn't run too many services.
The output from the deis-database:
[code]
repeating before component is restarted.
As for the gateway, it emits following:
[code]
Timestamps generally match time when database starts throwing exceptions.
According to `journalctl -u etcd` on all cluster members, there were no net

[2015-03-20 06:59] joshmackey opened #3342 "If buildpack crashes, deis-builder won't accept any new pushes."
We have a node.js buildpack that runs some gulp tasks. If one of those tasks crashes, it appears that deis-builder hangs. It won't accept any new builds and errors with "Another git push is ongoing. Aborting..."

Restarting the builder seems to fix for now but the builder shouldn't hang.

Buildpack: https://github.com/EQCO/heroku-buildpack-nodejs

[2015-03-20 17:17] carmstrong commented on #3227
@haf I think this is a good thing to bring up in #3072, since it's relevant to that discussion - let's move the discussion over there. Thanks!

[2015-03-20 17:17] #3227 closed

[2015-03-20 17:20] aledbf commented on #3072
This could help to increase security to `deis - etcd` interaction https://github.com/kelseyhightower/etcd-talk/tree/master/demo (after etcd 2.x in CoreOS)

[2015-03-20 17:20] mboersma commented on #3233
This seems like external documentation or a blog post, but not really in scope for the Deis project at this point. Thanks for the pointers @ianblenke. I'm going to close this.

[2015-03-20 17:20] #3233 closed

[2015-03-20 17:21] carmstrong commented on #3236
See the discussion in #3128 about why we cannot remove the data container.

[2015-03-20 17:21] #3236 closed

[2015-03-20 17:22] #3238 closed

[2015-03-20 17:26] carmstrong commented on #3256
@haf Any update on this? Were you able to repro?

[2015-03-20 17:28] carmstrong commented on #3258
This should already be the case - the verify is written to `~/.deis/client.json` and is read on subsequent calls. If you can produce a repro case, please open an issue specific to that. Thanks!

See #2892 for details.

[2015-03-20 17:28] #3258 closed

[2015-03-20 17:30] carmstrong commented on #3262
@haf Any updates on this?

[2015-03-20 17:30] carmstrong commented on #3265
I think this issue serves as a good pointer should someone need help generating a valid cert. :thumbsup:

The docs in #2911 should help, too.

[2015-03-20 17:30] #3265 closed

[2015-03-20 17:34] carmstrong commented on #3280
@sitya I'm not sure I understand the issue. Our cloud-config uses `$private_ipv4` (which is set by CoreOS) to bind to: https://github.com/deis/deis/blob/master/contrib/coreos/user-data.example#L8-L9

Can you investigate `/etc/environment`? Perhaps your `PUBLIC_IPV4` and `PRIVATE_IPV4` are not being set properly?

[2015-03-20 17:34] #3284 closed

[2015-03-20 17:35] carmstrong commented on #3285
@ianblenke Any more investigation on this?

[2015-03-20 17:42] carmstrong commented on #3291
The root here is that the database component can no longer communicate with `store-gateway`. However, there are a few different causes of gateway troubles. Can you get the gateway logs and `ceph -s` output the next time this happens?

[2015-03-20 17:47] bacongobbler commented on #3293
@pjvds could you please elaborate on why this feature would be useful? I know for heroku this allows you to stop your dynos, effectively stopping from heroku billing you but I'm not sure how a `ps:stop` would be helpful in Deis.

[2015-03-20 17:47] carmstrong commented on #3303
@dylanz Anything we can help with here? @ianblenke is right on the money that your root issue looks like a problem with etcd (maybe latency between hosts?).

[2015-03-20 17:48] #3322 closed

[2015-03-20 17:52] mboersma commented on #3337
Perhaps publisher isn't deleting the directory itself after TTL expires.

[2015-03-20 17:55] carmstrong commented on #3342
This sounds like a bug scenario where we're not cleaning up the lockfile: https://github.com/deis/deis/blob/777ef1c50ae1809f150c8695b388988fb1fac9d9/builder/image/templates/gitreceive#L45-L69

[2015-03-20 18:15] carmstrong opened #3343 "Proposal: Admins can create new users"
We currently have the ability to [disable user registration](http://docs.deis.io/en/latest/managing_deis/operational_tasks/#disabling-user-registration) entirely, but a common scenario is that admin users want to be able to create users, but to disallow just anyone from creating an account.

The proposal is to have three registration permission modes:
* Users can register themselves (the default)

[2015-03-20 18:31] haf commented on #3262
Yes, that file told me nothing special - it's the same on the machines it works on as it is on the ones it doesn't. The repro is running `deis push` on [this repo](https://github.com/haf/sample-hello-fsharp) though.

[2015-03-20 18:32] haf commented on #3256
Yes, if you start iptables-restore it closes the firewall.

[2015-03-20 18:38] carmstrong commented on #3289
@aledbf We see the motivation behind this, but I think this is difficult for a few reasons:

* Deis arguably shouldn't deal with this level of scheduling, and instead should just deal with a scheduler abstraction much like the one we have now
* Determining the common set of capabilities/features across different schedules is difficult and nearly impossible when the schedulers are changing as rapid

[2015-03-20 18:44] bacongobbler commented on #3343
:+1: from me. Seems to solve the most common use cases. Administrators can just create an account, email the credentials w/ a temp password and ask the user to `auth:passwd` afterwards as is the norm in the IT world.

[2015-03-20 18:45] bacongobbler commented on #3256
okay so maybe the actionable item here is to start iptables-restore after we enable it. :+1:

[2015-03-20 18:46] gabrtv commented on #3289
@aledbf I'd like to take a closer look at this once #3134 lands in an optional "Swarm Preview".

[2015-03-20 19:24] dylanz commented on #3303
@carmstrong @ianblenke:  We were running on a 3 machine cluster and didn't have enough available memory.  I think we were caught in a bad loop of units going down and machines getting lost from quorum.  We recently moved to a bigger cluster with more than enough memory, and we haven't run into this issue since.  Thank you @ianblenke for the great tips... they definitely helped!

[2015-03-20 19:24] #3303 closed

[2015-03-20 20:55] #3205 closed

[2015-03-20 20:59] aledbf opened #3347 "Proposal chore(scripts): use shellcheck to verify shell scripts"
http://www.shellcheck.net/about.html

an example:

[code]

[2015-03-20 22:34] #1817 closed

[2015-03-20 23:52] aledbf commented on #3337
I think that it could be easier to add a TTL to the directory https://github.com/coreos/etcd/blob/master/Documentation/api.md#using-a-directory-ttl (removing the directory could be a problem if the app is using scale > 1 and scheduled in different nodes)

[2015-03-21 00:06] gvilarino commented on #3337
Can you suggest ways to debug this? I'm sort of at a loss with this.

[2015-03-21 03:00] joshmackey commented on #3342
To add onto this, it may not be a crash. One of the gulp tasks hangs indefinitely and will continue to hang even if the push is canceled (ctrl-c) resulting in the same issue.

[2015-03-21 04:44] olalonde commented on #3322
@carmstrong Thanks. I'm mostly using Deis for development now and internal apps and was wondering where I could cut down on AWS fees. Also, do you have any estimates on how much it costs to run the AWS Deis installation per month?

[2015-03-21 04:50] ianblenke opened #3349 "Submodules support without .git"
Reading through #3305 and having had my PR #3172 closed, I'm left scratching my head here.

In the PR review for #3172 this morning, I'm sure you discussed how submodules would work with #3305. I'm just not seeing it.

Consider this issue a documentation request on how someone can make use of submodules without including the .git directory.

[2015-03-21 05:07] Joshua-Anderson commented on #3343
I would be interested in takeling this. I think I will add this to the users endpoint under `users:create`. Sound good?

[2015-03-21 05:16] ianblenke commented on #3342
We've had this same problem with Dockerfile based deployments every now and then. It's not just Buildpack deployments. It doesn't happen all that often.

Manually cleaning out the lockfile on deis-builder fixes it.

[2015-03-21 05:30] ianblenke commented on #3293
How about a `deis ps:scale web=0` ?

[2015-03-21 05:56] ianblenke commented on #3289
Until then, I continue to run this script:

https://gist.github.com/ianblenke/36f1b82efd7eecef0732#file-add-xfleet-conflicts-sh

Purely out of operational necessity.

[2015-03-21 06:03] joshmackey commented on #3342
Is there an easy way to clean it out without restarting the deis-builder container?

[2015-03-21 15:07] aledbf commented on #3289
@ianblenke for the same reason I did this:
https://github.com/soficom/deis/blob/custom_1.3.1/controller/scheduler/fleet.py#L160

[2015-03-21 21:35] ianblenke commented on #3342
If memory serves, the lockfile is either in /tmp or under /home/git/{project}

    docker exec -ti deis-builder /bin/bash -li

[2015-03-21 21:40] ianblenke commented on #3289
Not knowing django settings whatsoever, how someone set X_FLEET_CONFLICTS?

Would love to see a PR for that, or something very similar to that.

[2015-03-21 21:43] aledbf commented on #3289
@ianblenke sorry. From here https://github.com/soficom/deis/blob/custom_1.3.1/controller/templates/confd_settings.py#L56

[2015-03-22 01:44] bacongobbler commented on #3343
We should be able to plug into `auth:register` with only allowing administrators to register based on some arbitrary django setting.

[2015-03-22 03:02] Joshua-Anderson commented on #3343
OK. Will do.

[2015-03-22 03:03] ianblenke commented on #3285
@bacongobbler, the `travis` user is indeed ID 3.

[code]

It also presently has 3 keys defined:

[code]

As mentioned earlier in this issue, that `testing-te-worker-test1-373-linux-1` mention above is different than the one it used before.

I'm currently trying to troubleshoot why it isn't working once more all of the sudden. The travis user is not an admin, suggesting our database has reverted ag

[2015-03-22 04:39] aledbf opened #3352 "bug(test): during the test if the user app is stopped it continues running"
instead of fail.

Steps to reproduce:
- during the test enter in any node.
- stop the app.
- the suite will continue running instead of throwing an error

*Why is relevant?*
In case of an error in the deployed app it will restarted until the next output:
[code]
then the service will stop and the suite will continue running.

[2015-03-22 09:22] elepedus opened #3353 "Docs: revise deisctl installation instructions"
On CoreOS 607.0.0, using `curl -sSL http://deis.io/deisctl/install.sh | sh -s 1.4.1` from the documentation failed to create /opt/bin (Permission Denied). Manually creating the directories and re-trying also failed:

    Uncompressing Deis Control Utility  100%  Extraction failed.
    sh: line 27: 14187 Terminated              sh /tmp/$DEIS_INSTALLER $INSTALLER_OPTS

In the end I used `wget http:/

[2015-03-22 14:34] nathansamson opened #3354 "Deis limits isn't as forgiving as it could be"
[nathan@omega hedgehog]$ deis limits:set web=1024MB worker=512MB
Applying limits... 400 BAD REQUEST
{u'memory': [u'Limit format: <number><unit>, where unit = B, K, M or G']}

The error format isn't also very nice...

[2015-03-22 15:00] nathansamson opened #3355 "Deis builder should do best effort to keep git checkout"
I udnerstand that deis builder will throw away all git checkouts it has on a reboot / node movement.

Problem is when pushing a branch with rather some history, this might take a while every time.

I think deis builder should do a best (better than currently) to keep a quick checkout of branches.
I am thinking of a new container / volume that has all repos, that can be fetched.
Ofcourse in case th

[2015-03-22 16:08] bacongobbler commented on #3354
Yes the client could read those errors and display them better, but the syntax is 1024M and 512M

[2015-03-22 21:29] mgartner commented on #3223
+1 (related to #2812).

Most of the issue I've had while running Deis have been caused by Ceph, unfortunately.

[2015-03-23 07:23] sitya commented on #3280
Hi,
the `addr` and `peer-addr` work fine, but without setting `bind-addr` and `peer-bind-addr` explicitly to `PRIVATE_IPV4` etcd will answer properly on the `http://$PUBLIC_IPV4:4001` as well. And it is problem. But if I set these options explicitly to `PRIVATE_IPV4` it won't be listening on 127.0.0.1. :-(

I think,  it will be solved with [upgrading to etcd 2.0](https://github.com/coreos/etcd/blo

[2015-03-23 09:14] ineu commented on #3291
@carmstrong I've posted logs here: https://github.com/deis/deis/issues/2741#issuecomment-83932022
`ceph -s` and `journalctl -u etcd` are fine.

[2015-03-23 13:28] jwaldrip opened #3357 "Unable to Delete Application"
Cannot delete an application.

[code]

Info from `deisctl journal controller`:
[code]

[2015-03-23 14:11] M0dM commented on #3353
+1

[2015-03-23 14:48] gabrtv commented on #3357
@bacongobbler would you mind taking a look at this?  We should be ignoring missing key errors on app deletion.

[2015-03-23 14:54] bacongobbler commented on #3357
We proposed that in an earlier bug but it was closed: https://github.com/deis/deis/pull/2865

[2015-03-23 15:04] gabrtv commented on #3357
After looking at #2685, I think it should be merged.  It's clearly an etcd issue, but it can also be triggered by out-of-band manipulation of the etcd keyspace -- something we shouldn't just barf on.  Not only would this resolve a 500 error users are clearly seeing in the wild, but it's also the right logic because the net effect of swallowing the `KeyError` is the same (no more key!).

[2015-03-23 15:09] gabrtv commented on #3357
@jwaldrip as a workaround, you should be able to `etcdctl set /deis/domains/brandfolder-production` then redo the `apps:destroy`.

[2015-03-23 16:40] jwaldrip commented on #3357
@gabrtv I did `etcdctl set /deis/domains/brandfolder-production foo` re-ran the destroy and the error still occurred.

[2015-03-23 17:00] mboersma commented on #3354
This message comes more or less directly from Docker's [constraints docs](https://docs.docker.com/reference/run/#runtime-constraints-on-cpu-and-memory). Deis passes these args through to Docker essentially. I agree it could be written more clearly. It also wasn't obvious to me that **B**ytes is the default. Suggestions?

[2015-03-23 17:15] nathansamson commented on #3354
I think the client should not leak implementation details anyway.

I had read the deis docs on setting limits, and then just typed MB on auto-pilot. It felt more intuitive...

The client should support MB/GB etc as alternatives to M, G, ...
Additionally for consistency it probably needs to support Mb & Gb as well, although I can't really see the use case for this

[2015-03-23 17:25] bacongobbler commented on #3354
We could explicitly write out in the docstring that the values are represented in bytes.

We could add support for MB/GB if it makes it easier for people to remember. We'd just need to strip the extra `B` before we make the API request.

There's no way to pass a value of bits to docker so we can't support that until it's supported upstream.

[2015-03-23 17:38] jwaldrip commented on #1608
+1 we need this as well!

[2015-03-23 19:34] #3190 closed

[2015-03-24 00:08] hhff opened #3362 "Best Practices for Staging Environment"
Hi Friends!

Just getting started with Deis.  Got it up and running in a Vagrant box - and successfully deployed the example sinatra app twice:

[code]

However now when I run `deis anything:anything` it will only ever refer to the "Production" version of the application.

What's the best practice here?

Happy to add to the docs when I know!

[2015-03-24 01:39] onbjerg commented on #231
What is the temporary way to add databases etc. and access them via. your application?

[2015-03-24 01:41] bacongobbler commented on #231
@onbjerg http://docs.deis.io/en/latest/using_deis/config-application/#attach-to-backing-services

[2015-03-24 01:44] onbjerg commented on #231
@bacongobbler What if I want to run my database _on_ Deis? Not possible yet?

Also, any news on this? Still researching, or?

[2015-03-24 01:49] bacongobbler commented on #231
No news other than what's already been posted. Lots of feature requests with very little manpower is all :)

[2015-03-24 06:59] olalonde opened #3363 "Deis: minimal installation to reduce AWS cost"
I would like to adopt Deis for our production deployments but as we are a small 2 dev team in early stages (not much traffic) and we'd like to keep Deis as minimal as possible to avoid AWS cost.

Are there any cost estimates for running the default ec2 Deis install for a month? Where can we cut down on resources to keep the cost low?

[2015-03-24 07:04] olalonde commented on #3362
I think you can specify an `-a appID` flag for most commands. e.g.: `deis logs -a nested-quilting` to view your staging logs. The other option would be  clone the repo in another directory and treat it as a separate app maybe? `git remote add deis ssh://git@deis.local3.deisapp.com:2222/nested-quilting.git`.

[2015-03-24 07:22] ecylmz commented on #2410
Hi,

I'm having the same problem. I have a fresh installation on 3 bare metal([VivoPC with 8GB RAM](http://www.asus.com/ASUS_VivoPC/VivoPC_VM40B/)). I'm using this user-data (IP and discovery URL has changed): https://github.com/deis/deis/blob/master/contrib/coreos/user-data.example

Just using deis register command. Same problem occurred after nodes reboot.

CoreOS info:
[code]

---

Before reboo

[2015-03-24 07:39] johanneswuerbach commented on #3363
The default deis setup based on 3 m3.large instances is around 350$ / month (including 50$ / month for volumes) 3 m3.medium instances might also work ($200 / month including volumes), but aren't officially supported.

deis was build for cluster (3+ instances). When your deployment does not require that much resources yet, checkout https://github.com/progrium/dokku, which requires only a single ins

[2015-03-24 07:50] johanneswuerbach commented on #3362
As commented by @olalonde `-a` is the way to go. I recommend to actually make `staging` your `deis` remote and `production` something like `deis-production`. deis-cli uses the `deis` remote as default target and nothing is worse then running `deis config:set DB=my-new-db` accidentally against production.

Setup:

git remote | app | command
-------- | ----- | -------------
deis | staging-app | deis

[2015-03-24 12:54] ecylmz commented on #2410
When i reboot just one node, there is no problem. But when i reboot them all(3 nodes) same time, the error occurs. For example if the power grid fails, Deis can't boot properly.

Some of the problematic component (deise-builder, deise-logspout) of logs is as follows.

[code]
---

[code]

[2015-03-24 14:27] hhff commented on #3362
amazing - thankyou both!

[2015-03-24 15:23] #3357 closed

[2015-03-24 15:28] bacongobbler commented on #3362
Also note that there are a few new option flags in master for `apps:create` which will help with some of this orchestration:

[code]

Sounds like this question is answered so I'll go ahead and close this, but please re-open if you feel like there's something here that we need to fix. Thanks! :)

[2015-03-24 15:28] #3362 closed

[2015-03-24 15:31] hhff commented on #3362
thanks @bacongobbler!

[2015-03-24 15:31] bacongobbler commented on #2410
Since you rebooted all three nodes at once, you've lost quorum for etcd. etcd has a fault tolerance of < half of the total nodes: https://coreos.com/docs/cluster-management/scaling/etcd-optimal-cluster-size/#odd-active-cluster-size

https://github.com/deis/deis/issues/2410#issuecomment-62041804

[2015-03-24 16:00] mboersma commented on #3353
If you provision Deis according to the documentation, you *should* already have `deisctl` on each node. There is an [install-deisctl.service](https://github.com/deis/deis/blob/master/contrib/coreos/user-data.example#L47-L56) that runs once as root which fetches [`install.sh`](https://github.com/deis/deis.io/blob/gh-pages/deisctl/install.sh) and runs it.

I don't see why `wget` would succeed where

[2015-03-24 16:15] mboersma commented on #3353
This works for me&trade; on CoreOS 607.0.0:
[code]
@elepedus does adding `sudo` after the pipe **|** work for you?

[2015-03-24 16:19] arkadijs commented on #2683
Deis v1.4.1 `deis pull registry:5000/repo` still doesn't work.
With deis-cache disabled I can pull from central registry (but it just crashed).

    $ deis pull -a springboot-test https://docker-registry.deis-7.containers.r53.acp.io:5000/cloudinnovation/springboot:18
    Creating build... 503 SERVICE UNAVAILABLE
    Detail:
    GET Image Error (404: {"error": "Tag not found"})
    $ deis pull -a s

[2015-03-24 20:08] ghostbar opened #3368 "Save into a different remote name when deis remote already exists"
I want to be able to create several different instances of the same app, for example: production, staging, beta, branch-x.

Doing `deis create staging` works, but it fails to create the remote. It's easy to do it manually but maybe it would be nice to have `deis create` to recognize there's a remote called like that already and do something like `git remote add deis-staging ssh://...`.

[2015-03-24 20:14] bacongobbler commented on #3368
In master there's a new option flag `-r` or `--remote` which will allow you to write to a different remote. Will that work for you?

[2015-03-24 21:33] ianblenke opened #3369 "btrfs panics on 557.2.0"
After a reboot of an instance,  Kernel panics on btrfs repeatedly:

[code]

[code]

Plenty of disk space  free:

[code]

Plenty of btrfs volume space free:

[code]

Sounds like this bug:

https://bugzilla.kernel.org/show_bug.cgi?id=89271

I had thought a 1TB root disk would mitigate some of the btrfs risk. This kind of risk... is why coreos uses  ext4 + overlayfs in 561+

Can we pretty please with

[2015-03-24 22:10] mboersma commented on #3369
`overlay` should be chosen now as of #3319, if the host uses overlayfs.

[2015-03-24 22:33] bacongobbler commented on #3363
The other maintainers can correct me if I'm wrong but our AWS scripts are for a production deployment right out the door. If you're looking to cut costs, You can run on DigitalOcean for $120 per month (3 nodes with 4GB of RAM @ $40 per month), though you'll be limited to 180GB for hard drive space and you'll be missing out on stuff like ELB/Route53.

[2015-03-24 22:49] mboersma commented on #3363
I want to test if `m3.medium` instances still work for the EC2 test suite, so we could save a few pennies here and there in the tests, but past experience shows `m3.large` is necessary for a real cluster. DigitalOcean is much cheaper although @bacongobbler points out some of the tradeoffs.

[2015-03-25 00:49] ianblenke commented on #3349
Seriously though, am I stuck maintaining my own fork? Would it acceptable as a PR if I put a switch in here that made including .git optional?

[2015-03-25 02:17] bacongobbler commented on #3349
Here's how I understand how submodules work:

 - all submodules are listed in the `.gitmodules` record file
 - When you `git submodule update --init`, the modules included in the record are cloned using the listed remote
 - `ssh://` remotes in `.gitmodules` rely on your SSH agent for authentication against remote repositories, which is how #3305 came to be.

Given my understanding, I'm not quite s

[2015-03-25 05:24] ianblenke commented on #3349
I think I understand the confusion.

The .gitmodules record file merely tracks the refs to the git repos, but it does not track the SHA1's.

Meaning, if I:

[code]

you will see a .gitmodules file like:

[code]

The key point of using a submodule for otherproject/ isn't merely to have a link to a foreign repo, it is to track a specific SHA1 of the foreign repo.

This SHA1 is present in even a shal

[2015-03-25 09:07] ecylmz commented on #2410
Thanks for the reply.

A small note for those faced with the same problem:

If nodes shuts down due to any reason and you want to start the Deis, all nodes are required to give these commands(`deisctl stop platform && deisctl start platform`) after nodes started.

[2015-03-25 09:18] kgk opened #3370 "change domain name and gateway fails to restart"
I had to change the domain name from a test platform to our true domain name.
After stop/uninstall/install/start I seem to get stuck during the store-gateway restart..

deis-store-gateway@1.service: activating/start-post

This is on ec2.

Do I need to shutdown/restart the ec2 cluster. If I do, what is the procedure for that?

Thanks,
Kris

I tried:

deisctl stop platform
...
deisctl uninstall plat

[2015-03-25 09:23] zyxia opened #3371 "All the given peers are not reachable (Tried to connect to each peer twice and failed)"
hello again ,and  i have install and start the deis platform half an hour ago. and when i Inspecting health follow the step of doc ,and run ceph -s .it is good now.
however when i exit the deis-01,and run deisctl list .it shows me unable to connected to ............
so  i guss something wrong when is exit the ceph.  so i remove all coreos in the virtualbox,and rebuild deis all. i get the deis sour

[2015-03-25 10:35] Mil0dV commented on #2877
Has any progress been made on Mortician or another solution for this? The Mortician repo doesn't show any activity..

[2015-03-25 16:19] ianblenke commented on #2877
Given the quorum needs for etcd and ceph, and the growing number of other CAPish things that also need quorum (zookeeper, mesos-master, influxdb...), it seems best to break off a static control plane of 3-9 nodes that services these needs.

Any auto-scaling-group should be on fleet tagged application tiers with no quorum requirement, so that applications can be scaled dynamically to thousands of n

[2015-03-25 16:34] ianblenke opened #3372 "Spontaneous kernel reboot"
CoreOS 557.2.0 host reboot

[code]

[2015-03-25 17:46] gabrtv commented on #3372
@ianblenke looks like an out of memory error caused by a userspace process (`polling.rb:25`).  Does that fit the bill?  More on the Linux OOM killer here: https://lwn.net/Articles/317814/

[2015-03-25 19:21] #2984 closed

[2015-03-25 21:52] ianblenke commented on #3349
I'm going to generate another PR, this time with some logic that detects if there is a .gitmodules file - if there is, it will do a git clone and include the .git folder, otherwise it will revert to the present behavior. Any concerns with this?

[2015-03-25 21:53] bacongobbler commented on #3349
If it's conditional when .gitmodules is present, I'm fine with that

[2015-03-26 01:57] Joshua-Anderson opened #3376 "deisctl not installing cache"
Running a build of deisctl from the latest master commit:
I've noticed this behavior starting the last few days

[code]

If you look carefully, you can see that `deis-cache.service` is not loaded.

Listing the units confirm this:

[code]

Loading cache manually does work:

[code]

I took a look through the code but have no idea why this is happening.

[2015-03-26 02:00] mboersma commented on #3376
It's happening because of #3273. We disabled cache to hopefully prevent the "tag not found" error in #3218. If you're provisioning v1.4.1 or earlier you should use the `deisctl` for that version.

[2015-03-26 02:08] Joshua-Anderson commented on #3376
Sorry, I didn't notice. Thanks for the quick reply. :smile:

[2015-03-26 02:08] #3376 closed

[2015-03-26 02:36] mboersma commented on #2160
We are (almost) completely moved over to [`confd` 0.8](https://github.com/kelseyhightower/confd/releases/tag/v0.8.0) now thanks to the hard work of @bacongobbler. I am retitling this to reference `confd watch` only and assigning it.

[2015-03-26 02:50] ianblenke commented on #3369
After updating to CoreOS 607, these errors have gone away.

[2015-03-26 02:50] #3369 closed

[2015-03-26 06:02] bacongobbler commented on #2160
Thanks! let's get this in for 1.5 :D

[2015-03-26 16:21] a-saad opened #3378 "Command 'run' fails when using a non-standard SSH port"
When using a non-standard port, the deis run command fails with a "Connection refused" error. I tracked it down the fleet scheduler not taking SSH port into account while establishing an SSH connection. See https://github.com/deis/deis/blob/master/controller/scheduler/fleet.py#L261

[2015-03-26 16:22] a-saad commented on #3378
Also, any thoughts on a work around other than deploying a patched controller?

[2015-03-26 17:33] bacongobbler opened #3381 "confd[49]: ERROR exit status 127"
We see this error occur in the integration tests (as seen in #3364):

[code]

This seems to be a race condition where confd reloads before the database has come up yet. We could try using http://www.postgresql.org/docs/9.3/static/app-pg-isready.html to wait before the database is up and responding before we start confd.

[2015-03-26 18:48] bacongobbler opened #3382 "builder: confd[80]: ERROR exit status 123"
This seems to be an issue with the check-repos script after being templated out for the first time. After turning on debug mode for confd, I see:

[code]

So there's probably some precondtion that's causing this exit code, but it seems fine after the first time.

[2015-03-26 18:49] bacongobbler commented on #3371
did you use an old discovery URL? http://docs.deis.io/en/latest/troubleshooting_deis/#all-the-given-peers-are-not-reachable

[2015-03-26 18:50] bacongobbler commented on #3372
is this a CoreOS issue or a Deis issue? If there's nothing we can do on our end then this should be reported upstream.

[2015-03-26 18:52] bacongobbler commented on #3370
were you able to resolve this? I recall there's an issue where the gateway can get locked up somehow (a `deisctl restart gateway@1` solves this), but the original issue and deis-store-gateway failing to start look unrelated.

[2015-03-26 20:42] ianblenke opened #3385 "Unresponsive CoreOS 607 instance"
We had a production CoreOS 607 based instance go non-reponsive. I had a couple of shells open to it, hitting return resulted in no prompt. Had to use AWS console to request a reboot of the instance. When it came back up, I was unable to ssh into it. After stopping it and starting it again, it is now back up and reachable. This may have been some underlying Xen host issue, maybe:

[code]

[2015-03-26 20:47] ianblenke opened #3386 "PV clock drift causes more ceph havok"
I am running nothing but CoreOS 607 instances now, in both of my environments.

While load testing our 3-node staging cluster, the cluster was a bit slow. Looking into the problem, I noticed that one of these PV based instances had drifted 10-15 seconds into the future. I turned up ntp and synced the times. Not more than 15 minutes later, two of our instances became non-responsive. After rebooting

[2015-03-26 21:25] mboersma commented on #3347
I like this idea. It would be good to see how we could plug it in as an (optional) linter.

[2015-03-26 21:34] #3363 closed

[2015-03-26 21:35] aledbf commented on #3385
@ianblenke check this https://github.com/coreos/bugs/issues/249
I looks similar to your description

[2015-03-26 21:35] mboersma commented on #3368
I wouldn't like `deis` to automagically create the remote this way. I think the `--remote` flag handles this case.

[2015-03-26 21:38] bacongobbler commented on #3371
it's either that or etcd's down. Do you still have the logs available?

[2015-03-26 21:41] bacongobbler commented on #3378
No workarounds that I know of. Our documentation explicitly says that we listen on ports 22, 80, 443 and 2222. If you're running SSH on non-standard ports then you'll have to patch the controller.

[2015-03-26 22:02] mboersma commented on #3341
This could also be a use case for [`deis push`](#2680), and we would rather add new functionality to that than on top of `deis pull` I think.

[2015-03-26 22:04] mboersma commented on #3352
Do you mean we have to wait until the 10 minute go test timeout before we see that the app has gone away?

[2015-03-26 22:09] mboersma commented on #3386
We are scratching our heads about what else can be done to ensure clock sync. Was it definitely drift that made etcd/fleet go unresponsive?

[2015-03-26 22:17] #3353 closed

[2015-03-27 01:31] rljohnsn commented on #2330
Running into the same attempting an install on a bare metal coreos cluster.

[code]

[code]

What is missing from my cloud-config file? My computes were pxe booted, CoreOS installed to disk and a cloud-config like the following. Trying to make it completely reproducible via cloud-config.
https://gist.github.com/rljohnsn/2939b2cb21f1af1906ba

Thanks in advance for any help.

[2015-03-27 01:37] aledbf commented on #2330
@rljohnsn deis uses a custom cloud-config file https://github.com/deis/deis/blob/master/contrib/coreos/user-data.example#L117
The missing script (`/run/deis/bin/get_image`) is defined in the `write_files` section. Maybe you can start from that template to generate your custom configuration.

[2015-03-27 01:40] rljohnsn commented on #2330
@aledbf rockin! and a record 2m response time!

[2015-03-27 05:29] kgk commented on #3370
I actually tried a fresh install, but ran into some issues there too.. I think tried shutting down the cluster (on amazon) and restarting with a fresh cluster, but probably made some mistakes because I got the same error.

[2015-03-27 07:20] zyxia commented on #3371
thank you .i have solve it .by make discovery-url before vagrant up .

[2015-03-27 07:20] #3371 closed

[2015-03-27 15:29] #2160 closed

[2015-03-27 18:38] ineu commented on #3291
As a workaround I've implemented simple guard and wrapped it into systemd unit:
[code]

And looking at its logs for today:
[code]
So this problem appeared three times for me today.

Output of `journalctl -u etcd` on every machine in the cluster is ok, no network splits, no quorum losses.
Time difference on servers is tiny:
[code]

Output of `journalctl -u deis-store-gateway@1 --since today`
[code]

[2015-03-27 19:07] gabrtv commented on #3291
@ineu thanks for the detailed debug output.  Extremely helpful.

I have a strong suspicion the issue is caused by the database publishing logic.  The `/deis/database/host` key is written with a TTL inside a loop that can potentially be interrupted by periodic backups.  If backups take longer than the TTL, the keys can disappear from etcd.  I suspect that's what is happening here.

To resolve this,

[2015-03-29 04:54] apps4u opened #3390 "multi tenancy proposal"
First I want to state Im not expert in security but Ive tested a thought I had about securing the the data deis stores in etcd .

First an key in Etcd that starts with a underscore (_) can not be listed so if the system were to use a large random string that could be set a install or even better updated that started with a underscore would limit any one on the platform from getting to keys that th

[2015-03-29 05:01] PierreKircher commented on #3390
there is no security as of now special not at container level .. a container is not a VM .. its a simple process .. and not even a vm is secure .. you need way more to archive multi tennancy then just a "etcd" scoping and that problem is gone with etcd 2.0

but you realy want to scope the networking ! ( and with the current overlay mechanics  thats not possible) .. + noone realy knows the security

[2015-03-29 05:05] PierreKircher commented on #3390
while coreos takes care of the os updates who updates sec holes inside a container ? right noone .. please dump the idea of multitennancy with containers unless you know exactly what you are doing .. and thats going to result in a highly time / cash expensive task

[2015-03-29 18:36] chrisgeo opened #3391 "Azure Deployment Script Error: "WindowsAzureMissingResourceError""
When following the documentation for [using deis with azure](http://docs.deis.io/en/latest/installing_deis/azure/), my instance runs into exceptions being unable to find the service.

There are both storage services with the proper path, and an affinity group setup

The command being run:
[code]

It appears to fail attempting to use this PATH:

``` <mysubid>/services/hostedservices/foobar-api/depl

[2015-03-30 06:31] ineu opened #3394 "deis run: Authentication failed"
When I try to use `deis run`, I receive
[code]
The problem is with authentication:
[code]

Responding with 500 in this case is highly confusing. 401 would be better code to respond with. Even better would be to display 'authentication failed' message directly to user.

[2015-03-30 06:45] ineu commented on #2614
@bacongobbler Sorry for writing in the old ticket, but just a quick question: do I understand it correctly that `deis run` is only available to a single user, whose private key is stored in the `/deis/platform/sshPrivateKey`? So no other users, even those able to deploy an app, cannot execute `deis run`?

[2015-03-30 14:51] chrisgeo commented on #3391
Problem solved: `` --vm-size large ``` is case sensitive.

[2015-03-30 14:51] #3391 closed

[2015-03-30 14:56] aledbf opened #3395 "Proposal ref(builder): do not build slugbuilder and slugrunner locally"
It could possible to interact with ceph (S3) and just download pre-built files containing the `slugbuilder` and `slugrunner` images and add those files in the `deis-registry` bucket.

This will avoid the i/o issues building the images, reduce the `deis-builder` size and optionally it could be possible to download the images and host that from a local server.

This makes sense?

[2015-03-30 15:10] onbjerg opened #3396 "Installing Deis on DigitalOcean prompts password"
Hey!

I'm currently installing Deis on DigitalOcean. When I run the custom firewall script, it asks me to enter a password.

![Terminal output](http://imgur.com/GweTSMB.png)

CoreOS does not use passwords. I have configured the SSH key as shown in the guide.

Any help is appreciated, thanks.

[2015-03-30 15:10] onbjerg commented on #3396
@bacongobbler I understand that you initially wrote the DO scripts, if I am not mistaken. Any info?

[2015-03-30 15:11] aledbf commented on #3396
@onbjerg you need root permissions to run that script. Please use `sudo`

[2015-03-30 15:17] onbjerg commented on #3396
I've tried using sudo multiple places now. No change. Also, it keeps prompting me that the host ID changed.

![Terminal output](http://imgur.com/4suokVk)

[2015-03-30 15:19] bacongobbler commented on #3396
@onbjerg you'll have to log in as the root user rather than the core user to run the script.

[2015-03-30 15:21] onbjerg commented on #3396
@bacongobbler No luck.

![Terminal output](http://imgur.com/OOwqnbG.png)

[2015-03-30 15:24] bacongobbler commented on #3394
This authentication failure means that the key you supplied with `deisctl config platform set sshPrivateKey` is not the same key used to authenticate against the CoreOS servers. The 500 error in this case is correct because it's an internal authentication error from server configuration rather than a user error.

[2015-03-30 15:27] bacongobbler commented on #3396
Hmm, that seems like an SSH authentication failure. Not sure why that's happening though, since your SSH key should be used and password authentication should be completely disabled.

The DO provision scripts are just a glorified wrapper around https://github.com/nathansamson/docl

[2015-03-30 15:27] aledbf commented on #3396
@onbjerg please try this:
[code]

[2015-03-30 15:28] mboersma commented on #3391
Wow, I'm glad you figured that out. I'm glad Deis' docs have it correct as `Large`. Thanks for following up.

[2015-03-30 15:30] onbjerg commented on #3396
@bacongobbler I've tried multiple times from scratch, as I thought I was maybe doing something wrong. Same result each time. I've made sure that I've also read the docs on this very carefully.

@aledbf ![Terminal output](http://imgur.com/1fH37I7.png)

[2015-03-30 15:30] bacongobbler commented on #2614
No. Everyone is able to use it. Every call for `deis run` on fleet uses `/deis/platform/sshPrivateKey` as the SSH key to log into the CoreOS server and retrieve the output. It's a server-side implementation detail.

[2015-03-30 15:37] aledbf commented on #3396
@onbjerg you have an issue with the dns for those names

[code]

You need that each host resolve only to one IP. This is because each CoreOS machine has a different ssh key (and that's the error that you are seeing)
To check if this is the issue you can change this in your machine changing the /etc/hosts file with something like this:
[code]

and before the execution of the loop please remove the

[2015-03-30 15:43] onbjerg commented on #3396
Hmm.

I've added 3 more DNS records to see if it fixes it. Waiting for propogation. I will check back when it is done.

[2015-03-30 15:50] onbjerg commented on #3396
I don't know. I added the entries to the hosts file, but I still get the same error.

![Terminal output](http://imgur.com/anGgVLv.png)

[2015-03-30 15:53] aledbf commented on #3396
@onbjerg you can use the root account to run ssh to the nodes. Please use the `core` user

[2015-03-30 15:55] onbjerg commented on #3396
@aledbf Still prompting for password.

[2015-03-30 16:01] bacongobbler commented on #3396
@onbjerg sorry but it all works for me:

[code]

[2015-03-30 16:03] onbjerg commented on #3396
Hmm. Odd. I will try again.

[2015-03-30 16:07] onbjerg commented on #3396
Nope. Same stuff. Maybe it is because my docl has two keys?

[2015-03-30 16:09] bacongobbler commented on #3396
We have ~8 keys on our account so that wouldn't be the issue

[2015-03-30 16:10] onbjerg commented on #3396
I don't get it then. This is even a brand new computer, so old conflicting data or something wouldn't be an issue.

[2015-03-30 16:15] onbjerg commented on #3396
Okay. That was silly. It works now.

I think the issue was, that I uploaded the newly generated Deis key-pair, but it was trying to log in using my regular key-pair. I should've known.

Thank you for your time, though. Really helpful. Also, great project :smile:

[2015-03-30 16:15] #3396 closed

[2015-03-30 16:46] ineu commented on #3394
So, if I understand this and https://github.com/deis/deis/issues/2614#issuecomment-87723478 this key should be added twice: private key should be put into sshPrivateKey and according public key should be put into /home/core/.ssh/authorized_keys on every server. Am I correct?

[2015-03-30 16:50] bacongobbler commented on #3394
Correct. Usually the pubkey's added to authorized_keys via the provisioning scripts but if you're running on bare metal then you'd have to do this yourself.

[2015-03-30 16:56] ineu commented on #3394
I was a bit confused by https://github.com/deis/deis/issues/2614#issuecomment-64963352 because to access CoreOS hosts I use my usual `~/.ssh/id_rsa.pub` and not dedicated `~/.ssh/deis.pub`, while it's `~/.ssh/deis` which is added to sshPrivateKey. Now I got it, thanks a lot!

[2015-03-30 16:56] #3394 closed

[2015-03-30 17:07] #3337 closed

[2015-03-30 17:23] #3332 closed

[2015-03-30 17:56] onbjerg opened #3397 "Cannot register (controller not found)"
Hey.

Using ``deis register`` gives me the following error

[code]

``dig deis.pfmedia.dk`` gives me

[code]

Am I missing something?

[2015-03-30 18:02] bacongobbler commented on #3397
That usually indicates that your routers are not running. What is the output of `deisctl list`?

[2015-03-30 18:03] onbjerg commented on #3397
[code]

@bacongobbler

[2015-03-30 18:14] bacongobbler commented on #3397
Seems to work for me:

[code]

What are you using for `deis register`?

[2015-03-30 18:14] onbjerg commented on #3397
deis.pfmedia.dk

[2015-03-30 18:25] bacongobbler commented on #3397
@onbjerg could you please paste the output of `fleetctl ssh deis-controller docker logs deis-controller`? That should help give us more information on why the operations are timing out.

[2015-03-30 18:32] onbjerg commented on #3397
[code]

Am I even doing this right?

[2015-03-30 18:38] bacongobbler commented on #3397
use `ssh -A` to forward your SSH agent's keys: https://github.com/coreos/fleet/blob/master/Documentation/using-the-client.md#remote-fleet-access

[2015-03-30 18:48] onbjerg commented on #3397
Okay, I ran the command, but isn't it exactly the same as ``deisctl journal controller``?

[code]

[2015-03-30 18:52] bacongobbler commented on #3397
looks like you're using an older client. Can you please upgrade to deis v1.4.1?

[2015-03-30 18:57] onbjerg commented on #3397
Weird. It works now, but I always had 1.4.1. Maybe I just needed to do ssh-add?

[2015-03-30 18:57] #3397 closed

[2015-03-30 22:45] #1532 closed

[2015-03-31 01:58] Joshua-Anderson commented on #3343
@carmstrong Does #3393 fit your requirements?

[2015-03-31 05:24] chrisgeo commented on #3391
@mboersma It was an interesting problem for something so small. Each vm failed to create itself, but the script kept running overall until it realized the set wasn't being created.

[2015-03-31 07:30] ineu opened #3400 "deis run should escape commands"
`heroku run 'rails r "puts RUBY_VERSION"'` performs as expected, outputs
[code]

`deis run 'rails r "puts RUBY_VERSION"'` hangs infinitely.
`fleetctl list-units | grep 'run\.'`:
[code]

`fleetctl journal example_v56.run.12.service`:
[code]

`fleetctl cat example_v56.run.12.service`:

[code]

So the problem here is that arguments to runner are not escaped. Not only this breakes unit file, but can a

[2015-03-31 14:35] bacongobbler commented on #3400
The thing is that the command *is* escaped... Just not being escaped properly. This is due to how unwieldy the [run template](https://github.com/deis/deis/blob/master/controller/scheduler/fleet.py#L383-L389) is.

[2015-03-31 18:36] ineu commented on #3400
Wouldn't it be simpler to wrap user input into shell script and attach it to the runner container via `-v` option?

[2015-03-31 18:43] bacongobbler commented on #3400
@ineu not without re-implementing our own docker scheduler, which is something we're avoiding entirely. Just trying to use the tools that fleet provides to us.

@gabrtv has hinted before that we are looking into a cleaner implementation in the future which I predict will land with #3134.

[2015-03-31 19:45] PierreKircher opened #3401 "proposal renaming of the clients"
deisctl /deis does not realy reflect what they are doing

deis_server_ctl / deis_ops_ctl
deis_client_ctl / deis_dev_ctl

would be more clear,
even if more typing is involved.

of course thats just semantics but for new guys trying deis for the first time .. its all about understanding

[2015-03-31 19:57] bacongobbler commented on #3401
We've always referred them as `deis` being the client to *use* the platform and `deisctl` being the client to *control* the platform. That seems pretty clear to me. We already have hard links set up with a couple of other platforms like homebrew and pip, so I'm not sure there's a way we can work around this.

To better explain the separation of concerns here:

`deis` communicates with the controll

[2015-03-31 20:35] diddeb opened #3402 "Private key file is encrypted"
When running:

[code]

...on a (EC2) Deis cluster the log output is:

[code]

I have tried finding more details on the error message itself to no avail.

[2015-03-31 20:41] bacongobbler commented on #3402
was your private key already encrypted when you ran `deisctl config platform set sshPrivateKey`?

[2015-03-31 20:42] diddeb commented on #3402
No, it was not. And it's still not, on my local FS.

[2015-03-31 20:52] bacongobbler commented on #3402
Do you happen to require a password for the key? http://stackoverflow.com/a/15597194/2853424 seems to indicate that a password may be required, which is something which we currently do not support.

[2015-03-31 20:54] diddeb commented on #3402
No, there's no password on the key:

[code]

Weird?

[2015-03-31 21:13] mboersma commented on #3035
Note that #3084 and #3127 have fixed the fleet cleanup issue I mentioned here, so #3403 should actually close this.

[2015-03-31 22:08] #3035 closed

[2015-04-01 07:38] ineu commented on #3400
@bacongobbler Ok, I see. Is there an easy fix for this escape issue? It looks like a security problem to me. Is it possible to manually replace `"` -> `\"` and `'` -> `\'` before interpolating them into template? Sorry, I know nothing of Go templates.

[2015-04-01 12:10] rogerleite commented on #1848
@fgrehm thanks a lot. I had the same issue, I owe a :beer:.

[2015-04-01 13:30] krancour commented on #448
I know this issue was closed quite some time ago, but I have recently migrated 8 separate non-production (staging) Drupal sites to Deis, so I wanted to assure the OP that this _can_ be done.

I feel obligated to say that I have no love whatsoever for either Drupal or WordPress.  From an ops perspective, they were simply _not_ designed to scale horizontally, and that makes them painful to deal with

[2015-04-01 14:54] gabrtv commented on #448
@krancour thanks for taking the time to write all this up.  We get asked this all the time.  I have a strong suspicion other folks (not just those using Deis!) will benefit from this knowledge.  If you have time/inclination to reformat this into a blog post, we'd love to cross-post it on our blog.

[2015-04-01 15:16] niccolox commented on #448
thanks for this

I saw a talk by a Stanford (Puppet expert) developer at the badcamp in San Francisco earlier this year where they talked about a Docker focussed Drupal paas similar to what @krancour describes

the used Terrafirma to create vms on which they install Docker and Drupal on AWS, plus S3 for file storage and RDS for mysql databases

the Drupal use the fairly well developed S3 Drupal co

[2015-04-01 15:35] bacongobbler commented on #3402
yes, that's very weird. I'd try and see if you can reproduce this with paramiko locally and see if you can figure out if it's a bug or a feature with them.

The relevant code in Deis is https://github.com/deis/deis/blob/master/controller/scheduler/fleet.py#L254-L263. We base64 encode the private key when you upload it to etcd hence why the b64 decode is necessary here.

[2015-04-01 15:38] olalonde opened #3404 "'Container type {} does not exist in application'.format(container_type))"
I have a Node.js app with a `package.json` file and a start script (`node ./server/index.js`). When I `git push deis`, I receive the following error:

[code]

Following the advice [given here](https://github.com/deis/deis/issues/3290#issuecomment-78965073) by @aledbf , I checked the logs of deis-controller and am getting this:

[code]

How can I fix this? Is this a problem with deis or my app?

[2015-04-01 15:42] johanneswuerbach commented on #3404
Do you have a Procfile? If not, could you create one with the following content:
`web: node ./server/index.js`

[2015-04-01 15:58] azurewraith commented on #3238
It looks like I've run into this exact issue:

    Apr 01 12:56:17 weyoun02 etcd[2166]: [etcd] Apr  1 12:56:17.204 INFO      | 62bfd0a7592b4993bbb37da759d08bee: leader changed from 'cb31c329492e47d281cc1cd843474fee' to ''.
    Apr 01 12:56:18 weyoun02 etcd[2166]: [etcd] Apr  1 12:56:18.414 INFO      | 62bfd0a7592b4993bbb37da759d08bee: state changed from 'follower' to 'candidate'.
    Apr 01 12:56:

[2015-04-01 17:38] olalonde opened #3405 "Follow logs with deis logs?"
Would be nice to be able to follow logs (e.g. equivalent of `tail -f /somefile.log`).

[2015-04-01 17:41] bacongobbler commented on #3405
dupe of #465

[2015-04-01 17:41] #3405 closed

[2015-04-01 18:53] wenzowski commented on #3087
There's ip hashing [going on](https://github.com/yaoweibin/nginx_tcp_proxy_module/blob/f2156eff9f6621aaf601eaa8dee40c6820dea0b0/modules/ngx_tcp_upstream_ip_hash_module.c) in the [nginx_tcp_proxy_module](http://yaoweibin.github.io/nginx_tcp_proxy_module/) but more effort is still needed on my part in figuring out exactly how that module works.

[2015-04-01 19:35] olalonde commented on #3404
The Procfile solved the problem. I was under the impression it was optional :(

[2015-04-01 19:52] bacongobbler commented on #3404
it's only optional if the buildpack supplies one!

[2015-04-01 20:17] bacongobbler commented on #3382
note that the hack in #3408 will probably fix this as well, since check-repos is called on reload: https://github.com/deis/deis/blob/master/builder/image/conf.d/check-repos.toml#L11

[2015-04-01 20:19] olalonde commented on #3404
The logs did say the a Procfile was generated though. Do I need to do something with `deisctl` for this to work without a Procfile?

[2015-04-01 20:20] mboersma commented on #3382
Yes, except in that case it's `/home/git/check-repos` that has itself as its own check_cmd script. I'll make a similar PR for that one.

[2015-04-01 20:23] bacongobbler commented on #3404
If the default procfile being supplied by the buildpack is not being respected, then that's a bug. I'll re-open and see if I can reproduce this.

[2015-04-01 20:58] mboersma commented on #3382
In this case, it's because of these lines in `check-repos`:
[code]
`docker images` may return nothing, and `docker rmi` returns 123 if not given any further arguments. We can fix this by using [`xargs -r`](https://www.gnu.org/software/findutils/manual/html_node/find_html/xargs-options.html), so that the target command is never run unless there are arguments for it. `xargs` default is to run once r

[2015-04-01 21:30] bacongobbler commented on #3404
Can reproduce on master with example-nodejs-express: https://gist.github.com/bacongobbler/0a530ebaf08685b20d09

[2015-04-01 21:38] bacongobbler commented on #3404
The issue is that slugbuilder is not appending the Procfile to the `.release` file when the buildpack is finished compiling. I'll file a fix for that.

[2015-04-01 23:28] eMxyzptlk commented on #3285
@ianblenke I'm having the same problem, I cannot delete the keys unless my user is an administrator. Also, I am experiencing issues deploying from travis and I believe we're both hitting travis-ci/dpl#240

[2015-04-02 00:03] eMxyzptlk commented on #3285
@ianblenke Workaround the travis issue: travis-ci/dpl#240

Basically you need `$HOME/.local/bin` to be in the PATH.

[2015-04-02 03:42] jmreicha commented on #2232
+1

[2015-04-02 04:44] lorieri commented on #2819
Hi,

I was thinking in something

lets say I start my database in machine A, it will create a database volume on A.
then A goes down, database will be migrate to B and gets backups from the gateway.
then all machines goes down and database starts on A before the gateway.

will it get the old volume and ignore backups ?

[2015-04-02 04:48] #3381 closed

[2015-04-02 05:18] bacongobbler commented on #2819
yes, that's what is described in #3128.

[2015-04-02 05:36] lorieri commented on #2819
:)

[2015-04-02 06:53] munjalpatel commented on #3391
I am getting the same error as well. I am issuing the following command:

    ./azure-coreos-cluster deis-dev --subscription 4f2745a4-f317-48a6-a50b-1b8c44ed1d68 --azure-cert azure-cert.free-trial.pem --num-nodes 3 --affinity-group deis-dev --vm-size Large --pip --deis --blob-container-url https://deisdev.blob.core.windows.net/vhds --data-disk --custom-data azure-user-data
    SSH arguments not gi

[2015-04-02 09:11] arkadijs commented on #3218
Even with cache disabled I see no `deis pull` working from paswordless self-signed https private registry. Only central registry works.

Considering all the complications of maintaining a fork with deis pull specific functionality, how about just letting the node's Docker daemon to pull images directly like Kubernetes is doing? With cloud-init it is easy to insert CA cert into node's Docker config

[2015-04-02 10:39] Natsuke opened #3413 "deis-store-daemon: auto-restart"
Hi everyone,

We've launched a 3 node cluster using deis v1.4.1.
```deisctl install platform``` worked well but when we start platform ```deisctl start platform```
we enter in a deis-store-daemon auto-restart loop. As we see, ceph didn't start.

Here is a gist with more informations : [deis-store-daemon](https://gist.github.com/Natsuke/da51a69d6ca2652f3b3e)

Ask for more information. Thanks in adv

[2015-04-02 15:18] bacongobbler commented on #3413
This looks related to https://github.com/deis/deis/issues/3240 and https://github.com/deis/deis/issues/2521

[2015-04-02 17:12] #3404 closed

[2015-04-02 17:13] #3382 closed

[2015-04-02 17:28] mboersma commented on #3401
Originally there was just `deis` (a la `heroku`), but it didn't seem correct to bolt on provisioning logic to one binary. So `deisctl` was created for that purpose, once provisioning and cluster control migrated away from scripts. Heroku didn't have a similar tool, and we largely followed the `fleetctl` / `etcdctl` naming convention of our friends at CoreOS when we started the new go codebase for

[2015-04-02 17:31] mboersma commented on #3385
This looks like a CoreOS or AWS issue, not specific to Deis. I'm going to close it, but please re-open if I'm mistaken.

[2015-04-02 17:31] #3385 closed

[2015-04-02 17:32] PierreKircher commented on #3401
agree, as i sayed its just semantics .. but people get confused all the time. better reflecting docs shoud do just fine

[2015-04-03 17:31] #3234 closed

[2015-04-03 17:31] #3276 closed

[2015-04-03 19:05] bacongobbler commented on #3368
ping

[2015-04-03 20:32] azurewraith opened #3416 "deis tags per process type"
It could be useful if you could configure process types to run in particular places based on fleet metadata with deis tags.

For example, if you have asynchronous workers that don't necessarily have to be on a fast machine but you want your web processes on better hardware.  Or you have asynchronous workers which require a lot of CPU/Memory and you want to schedule them only on hardware that could

[2015-04-03 20:51] bacongobbler commented on #3416
I can see the use case for this. This is actually how `deis limits` works too, so it makes sense :+1:

[2015-04-03 22:15] #18 closed

[2015-04-03 22:15] #1873 closed

[2015-04-03 23:15] azurewraith commented on #3416
Yeah, `deis limits` can help with this problem in the sense that a process type won't eat up more CPU/Memory then you lend it.  If your machines are all equally powerful, then this works well.  I had forgotten you could set limits by process type, though.

[2015-04-04 06:09] azurewraith commented on #3235
I tried pretty painfully to bring etcd back from the dead to no avail, even with the current Deis docs.  The discovery URL gets embedded into the system unit and doesn't get overwritten anymore by cloud-config.  Oddly, this used to work.  I think there needs to be some sort of documentation around recovering etcd if you've lost quorum.  There should be a way to just tell your cluster to fetch a ne

[2015-04-04 22:49] aledbf opened #3417 "bug(controller): If is not possible to access etcd it should fail with an error"
Right now any command that uses etcd (like upload the user key) will just show this message
[code]
and continue, but the user key is not stored in etcd.

For instance if `etcd` is not available when the user upload the ssh key it will fail to do any push.

[2015-04-06 04:34] carmstrong commented on #3343
It sure does! :+1:

[2015-04-06 20:23] #3401 closed

[2015-04-06 22:37] scottrobertson opened #3421 "Environment Variables not being set"
Hey,

I am trying to set RAILS_ENV to staging, but the app seems to just ignore it.

![image](https://cloud.githubusercontent.com/assets/68361/7013908/c42ea1ac-dcb5-11e4-83f8-e2fcc818e55b.png)

I have tried looking for related issues, but i could not see anything, so apologies if this is a duplicate.

[2015-04-06 22:41] bacongobbler commented on #3421
I think this is something which the buildpack hardcodes: https://github.com/heroku/heroku-buildpack-ruby/blob/e4bd79031406e1da7487d0269c86c895ed226c84/lib/language_pack/rails2.rb#L26-L27

Did you set the config before or after you deployed the application?

[2015-04-06 22:43] scottrobertson commented on #3421
I set it after yeah. However i figured "When config is changed, a new release is created and deployed automatically." would mean that when it redeploys it uses the new config.

WIll I have to trigger a new build? Or can it only be set on initial build?

[2015-04-06 22:45] bacongobbler commented on #3421
Yeah we do create and deploy a new release with the modified changes, but I assume that the buildpack conjures some black magic which hardcodes the value in the application which is out of our control :simple_smile:

Try triggering a new build via `git commit --allow-empty -m "test" && git push deis master` and see how that goes.

[2015-04-06 22:49] scottrobertson commented on #3421
That worked :) triggering a new build sorted it all.

Do you think I should raise an issue on the buildpack, or is it just what it is?

Thanks for your help

[2015-04-06 22:50] scottrobertson commented on #3421
Another quick kinda-related question. Is there a way to make it set ENV vars based on the .env file?

[2015-04-06 23:00] bacongobbler commented on #3421
You can try and see if you can reproduce the issue in heroku. If you can't then maybe there's something here which we can learn and improve upon in Deis. :)

As for the other question, in master there's a new `deis config:push` command which will upload your .env file to Deis. Will that help?

[2015-04-06 23:03] scottrobertson commented on #3421
I shall have a play around with it on Heroku tomorrow night and let you know.

And yeah, that will help a lot. Maybe load env variables from that file on first push? But that may not be a valid usecase for most people.

Thank you very much for your help.

[2015-04-06 23:11] scottrobertson commented on #3421
@bacongobbler could I make a request to be able to specify a file in the config:push. As i have a staging app and a production app in the same repo, each have totally separate configs (`.env.production`, `.env.staging`).

[2015-04-06 23:25] carmstrong commented on #3421
I think that request makes a lot of sense. :+1:

@scottrobertson can you file that as a separate feature request issue? It sounds like this immediate issue is probably resolved.

[2015-04-06 23:26] scottrobertson commented on #3421
@carmstrong Shall do :)

Thank you both for the help.

[2015-04-06 23:26] #3421 closed

[2015-04-06 23:28] scottrobertson opened #3423 "Allow file to be specified for config:push"
Hey,

It would be good for `deis config:push` to accept a path to a .env file.

I have 2 apps setup from 1 repo, one for staging and one for production, each have their own .env files.

An example would be: `deis config:push ./env.production`

[2015-04-07 00:40] krancour commented on #2812
I'm quite interested in this as well for some of the same reasons that the OP mentioned.  By keeping all components within the CoreOS cluster stateless, I assume both autoscaling and upgrades will be easier.

Like the OP, as long as I can use a (highly available) external DB (RDS in my case), S3 to back my registry, and if I am already draining logs to elsewhere (Splunk in my case), then I really

[2015-04-07 01:42] CptJason opened #3425 "Error response from daemon: No such container: deis-logspout"
![8ac3d3cb-73cf-40d3-968c-7a07af3767dd](https://cloud.githubusercontent.com/assets/397285/7015685/2b18f1f2-dd0a-11e4-859a-027fd803a497.png)

[2015-04-07 03:27] bacongobbler commented on #3425
Hi! Could you please provide some more info:

 - what version of deis are you running?
 - how are you able to re-create this issue?

I've been deploying clusters off master all day and haven't seen this. Thanks!

[2015-04-07 03:39] mboersma commented on #3372
This looks like a CoreOS issue rather than anything specific to Deis. I'm closing this, but please re-open if I'm mistaken.

[2015-04-07 03:39] #3372 closed

[2015-04-07 03:41] mboersma commented on #3368
I'm closing this since `deis create --remote` covers this use case. @ghostbar please let us know if we've missed something.

[2015-04-07 03:41] #3368 closed

[2015-04-07 03:48] mboersma commented on #2739
So `brew install deis deisctl` actually works now. @andyshinn you rock!

But we need to figure out some way to keep the Homebrew packages up-to-date, because Deis has significant releases every month. If we can't keep things reasonably fresh, we should drop the packages entirely. (BDFL said so a while back.)

[2015-04-07 03:52] mboersma commented on #3333
Agreed, but I'm going to close this issue. :bug: :hammer:

[2015-04-07 03:52] #3333 closed

[2015-04-07 07:17] CptJason commented on #3425
I just used this command " git clone https://github.com/deis/deis.git " to clone, and I found it was version 1.5.0-dev.

[2015-04-07 07:30] carmstrong commented on #3425
@CptJason Jason What does `journalctl -fu deis-logspout` show? It looks like the error removing the container may be nothing - we remove all containers when they are stopped. Discovering why the service crashed is crucial.

[2015-04-07 09:08] CptJason commented on #3425
As your mentions, I restored the Vagrantfile, and tried again, at last that error gone.
I've gilded the lily.Thanks!

[2015-04-07 09:08] #3425 closed

[2015-04-07 12:01] scottrobertson opened #3427 "Any user seems to be able to push to app"
#### Update

Ok, this is maybe worse than I thought. I have managed to fix this, but the issue was that the user didn't have perms on the correct app (i have example-production and example-staging, it just had permission on example-production but i was pushing to example-staging).

So a user who does not have permission on an app, can push to that app.

#### Original Post

Hey,

Trying to setup co

[2015-04-07 12:12] scottrobertson commented on #3427
Ok, this is maybe worse than I thought. I have managed to fix this, but the issue was that the user didnt have perms on the correct app (i have example-production and example-staging, it just had example-production but i was pushing to example-staging).

So a user who does not have permission on an app, can push to that app.

[2015-04-07 14:55] andyshinn commented on #2739
It usually ends up being a crowdsourced kind of thing. I opened another PR to update the version: https://github.com/Homebrew/homebrew/pull/38435.

[2015-04-07 14:57] carmstrong commented on #2739
Deis 1.5.0 should land today, so we may just want to bump to that.

[2015-04-07 15:00] andyshinn commented on #2739
![orly](https://cloud.githubusercontent.com/assets/315485/7026014/ce3dc248-dd0c-11e4-920e-0e24d0891b33.jpg)

OK, i'll just close that one and get ready to open a PR for 1.5.0 then.

[2015-04-07 18:36] fagiani commented on #2293
Hey @carmstrong,

I was able to reproduce this very issue in the version 1.4.1

Unfortunately, even after trying all the restarts suggested here the status of the controller and logger stay as dead and logspout stays as auto-restart status.

As there are no logs, it is impossible to understand what is going on.

Dou you have any idea on how to fix it?

Thanks!

[2015-04-07 19:45] carmstrong commented on #2293
@fagiani This is during a platform start, right? That makes sense that controller and logger are dead, as logspout starts early in the start cycle. Can you open a new issue with the output of `journalctl -fu deis-logspout` on the host that's having issues?

[2015-04-07 19:58] fagiani commented on #2293
@carmstrong thanks for the prompt response!

The issue happened with deis working fine and not on platform start. It was right after a git push of one of the apps.

As we are moving on to production environment, after several trial and error, we restarted the 3 deis hosts and somehow cloud formation has terminated them and recreated other hosts and after that, the whole thing stopped working.

We

[2015-04-07 20:04] carmstrong opened #3428 "deis-logspout crashing/stuck in auto-restart"
It seems like logspout has lately been crashing for a few of our users.

We've had a few reports of this lately, although we don't have much to go on. See https://github.com/deis/deis/issues/2293#issuecomment-90713786 for one report.

Perhaps logspout has become less stable in recent releases? If folks run into this, please post relevant log output here. `journalctl -u deis-logspout` on hosts wher

[2015-04-07 20:05] carmstrong commented on #2293
Thanks @fagiani. Definitely reach out to us in IRC the next time you run into an issue - nearly all are recoverable, and we don't want to see you have to redeploy Deis! I'll file an issue (#3428) to track logspout issues.

[2015-04-07 20:36] bacongobbler commented on #3427
hey @scottrobertson, while this looks like a bug, it's not necessarily an issue. Any authenticated user may be able to `git push` to a repository, but the controller will deny the upload request unless said user has access to the app: https://github.com/deis/deis/blob/master/controller/api/views.py#L298-L301

However, the builder should deny the `git push` if the user does not have access, which s

[2015-04-07 20:54] scottrobertson commented on #3427
Hey @bacongobbler, you are right, it's not that big a deal :)

The most annoying thing about it is that it then blocks me from pushing again from a real user. I have to commit something else and push again.

[2015-04-07 20:55] carmstrong commented on #3427
Definitely annoying, and this is certainly something we need to fix. Thanks for reporting and for the detailed write-up, @scottrobertson!

[2015-04-08 02:15] PierreKircher commented on #3390
https://github.com/coreos/etcd/blob/master/Documentation/rfc/api_security.md

[2015-04-08 04:16] apps4u commented on #3390
its was just the ectd keys I needed to secure , that's what was on the deis.io site .. I'm not going to use in a public network I just need a way for my clients to be able to run services that we supply that can edit the code but most don't I just wanted to make sure that and passwords in etcd could not be accessed by any one else on the platform. while Im not worried about having one of my client

[2015-04-08 04:21] apps4u commented on #3423
ive got some code it reads a config.json file from the project root when creating a projects so on ```deis create``` the config it added to the application so by the time you run ```git push deis master``` the config it in place.
It lets you set RAM, CPU , VALUES etc. it you want Im happy to issue a pull request , It would not be hard to change it to use a .env file ..

[2015-04-08 04:25] bacongobbler commented on #3423
@apps4u that may be a great candidate for a plugin!

http://docs.deis.io/en/latest/customizing_deis/cli-plugins/

[2015-04-08 08:10] scottrobertson commented on #3423
@apps4u That would be awesome. Does it let you set all ENV vars?

[2015-04-08 11:04] Blystad opened #3429 "Registry can't get BUCKET_NAME from etcd"
This causes issues setting up registry on Amazon S3 instead of Ceph

Ref #2252 / #2812

[2015-04-08 11:20] Blystad opened #3430 "registry create_bucket - bucket exist check seems non-functional"
This check doesn't seem to work as expected:

[code]
[registry/templates/create_bucket#L15-L16](https://github.com/deis/deis/blob/95746aadc8e2c77771174f2702dae6fc48951c4d/registry/templates/create_bucket#L15-L16)

`bucket` is a String where as the items in `conn.get_all_buckets()` is of type `boto.s3.bucket`.

I changed it to this:
[code]

which seems to maybe work. Going to test it now.

[2015-04-08 11:41] Blystad commented on #2812
I'm working on looking into this. We want to get rid of Ceph since we're already running on Amazon infrastructure were we have everything which should be necessary.

I'll post my findings asap. Currently fighting with registry....

[2015-04-08 11:46] carmstrong commented on #3430
Good find. Surprised it isn't causing any problems - maybe it silently fails if the bucket already exists and it tries to create it again.

If this works, we'll need to fix it for both database and registry, as they both have this logic.

[2015-04-08 15:22] Blystad commented on #2812
Alright! I have a Deis environment now running completely without deis-store.

I'll post my findings now so we can figure out the way ahead:

First of all, my environment is now running with:
* PostgreSQL running on Amazon RDS
* Amazon S3 bucket in the same region as Deis (eu-west-1)
* [Logs redirected to papertrail.](http://docs.deis.io/en/latest/managing_deis/platform_logging/#application-log-dr

[2015-04-08 15:35] diddeb commented on #3402
I rebuilt the cluster. Not a problem now. Writing it off as me being silly – although I am not sure how or when it happened. Thanks for your patience & help @bacongobbler!

[2015-04-08 15:35] #3402 closed

[2015-04-08 15:39] krancour commented on #2812
@Blystad nice findings.  I am working on this same thing, but you seem slightly farther along than me.  I've already got the database moved out to RDS.  That was very easy.  And I've got all the objects formerly stored by Ceph moved up to a bucket in S3.  The thing I am struggling with right now is the registry doesn't start correctly.  Hopefully I can get that sorted out shortly.

The bit about t

[2015-04-08 16:47] krancour commented on #2812
@Blystad what version of Deis did you do this with?

[2015-04-08 17:06] Blystad opened #3432 "bug(router): domains with sub-subdomains isn't matched anymore"
Hello,

I did a new cluster deployment today with 1.5.0.

It all seems to work great. Except, that custom domains have now stopped to work for me. v1.5.0 introduced a pretty large change with Application SSL support, and I'm affraid that could perhaps have caused some issues?

If we look at the following two log reports:
[code]

Then when I use `android-ota-server.deis-150.pixavi.com` then it work

[2015-04-08 17:13] Blystad commented on #2812
1.5.0

You need to modify `deis-registry` unit file to set `BUCKET_NAME` environment variable to your S3 bucket.

You also need a custom `deis-registry` that fixes bug #3430. If you compile it with PR #3431 then that should fix it.

[2015-04-08 17:49] bacongobbler commented on #3432
I cannot confirm this:

[code]

If I use a more "proper" domain name such as `foo.bacongobbler.com`:

[code]

or even `foo.bar.bacongobbler.com`:

[code]

Could you please show how your DNS records are set up? That might explain how your custom domain is getting re-routed to your controller.

[2015-04-08 18:06] krancour commented on #3429
@Blystad are you certain?

This looks to me like it does source the bucket name from etcd:

https://github.com/deis/deis/blob/master/registry/templates/config.yml

Am I missing something?

[2015-04-08 18:11] Blystad commented on #3432
Additional information:
* I use platform SSL certificate
* I've applied PR #3096 (which could affect it?).
* I am trying to do a deployment without deis-store (see #2812), but, again I don't see how that should affect it.

Deis is deployed to a cluster running at `*.deis-150.somedomain.com`.

We use Route53 for DNS, so the DNS records is an A ALIAS to the ELB.
I find it hard to believe that this i

[2015-04-08 18:13] Blystad commented on #3429
It should, but it doesn't in the `boot` script. See: [https://github.com/deis/deis/blob/95746aadc8e2c77771174f2702dae6fc48951c4d/registry/bin/boot#L22,L54](https://github.com/deis/deis/blob/95746aadc8e2c77771174f2702dae6fc48951c4d/registry/bin/boot#L22,L54)

(Really just line 22, 45 and 54 which is interesting, but Github wouldn't let me mark those).

[2015-04-08 18:13] Blystad commented on #3429
This cause issues with `create_bucket` which attempts to create the S3 bucket if it doesn't exist.

[2015-04-08 18:19] bacongobbler commented on #3432
Yes, I'd imagine that something untested like #3096 could affect how the routers work.

If you're able to reproduce this using a vanilla v1.5.0 cluster then we can take a look into it, but we do not support clusters with untested PRs installed. Please re-open if you do happen to hit this with a vanilla cluster. Thanks!

[2015-04-08 18:19] #3432 closed

[2015-04-08 18:43] szymonpk opened #3434 "builder v1.3.1 won't start"
I'm trying to deploy fresh deis 1.5.0 in DigitalOcean (CoreOS 607) and I've issue with builder service startup during `deis platform start`.

    $ journalctl -u deis-builder.service
    ....
    Apr 08 18:31:43 deis-1 sh[4411]: Status: Downloaded newer image for deis/builder:v1.3.1
    Apr 08 18:31:43 deis-1 sh[6874]: /dev/loop0
    Apr 08 18:31:43 deis-1 sh[6892]: Waiting for builder on 2223/tcp

[2015-04-08 18:54] bacongobbler commented on #3434
hi @szymonpk, could you please dump `deisctl config platform get version` as well as `deisctl config builder get image` for me? It's interesting that it's trying to pull v1.3.1 when by default the version should be v1.5.0.

[2015-04-08 19:01] szymonpk commented on #3434
Both configs aren't there

    $ deisctl config platform get version
    Error: 100: Key not found (/deis/platform/version) [23425]

    $ deisctl --version
    1.5.0

[2015-04-08 19:03] bacongobbler commented on #3434
okay. Could you also paste the output of `cat /etc/deis-release`? Basically what I'm trying to nail down is how v1.3.1 is getting selected from the `get_image` script: https://github.com/deis/deis/blob/master/contrib/coreos/user-data.example#L134-L146

[2015-04-08 19:04] szymonpk commented on #3434
$ cat /etc/deis-release
DEIS_RELEASE=v1.3.1

[2015-04-08 19:09] bacongobbler commented on #3434
It looks like you're using an [older user-data](https://github.com/deis/deis/blob/v1.5.0/contrib/coreos/user-data.example#L112-L115) template. Can you please try again using the user-data template from the v1.5.0 release? Thanks!

[2015-04-08 19:11] szymonpk commented on #3434
I think I've found it.. old user-data.example, I haven't pulled code between cluster re-installations just updated deisctl.

My fault, sorry :-1:

[2015-04-08 19:11] #3434 closed

[2015-04-08 21:45] krancour commented on #3429
Yup.  This is an issue alright.  I had looked at the boot script and really couldn't spot the problem in it.  _Now_ I see it... but only after banging my head against the wall for a while in #3431.  D'oh.  Sorry I doubted you, @Blystad.

I'd be happy to try and fix this issue, but I'd need a little guidance.  I'm not clear on why there's an environment variable involved here at all.  Any thoughts?

[2015-04-08 22:32] aledbf opened #3436 "bug(database): confd log error"
Using `deis/database:v1.5.0` I see this error:

[code]

From the `etcd` (docs)[https://github.com/coreos/etcd/blob/master/Documentation/api.md] this could be a `confd` error using watch?

[2015-04-08 22:32] aledbf commented on #3436
ping @bacongobbler

[2015-04-08 22:38] bacongobbler commented on #3436
@alebdf this looks like https://github.com/kelseyhightower/confd/issues/205 which is resolved in https://github.com/kelseyhightower/confd/pull/254.

[2015-04-08 22:48] azurewraith opened #3437 "enforceHTTPS=true causes deis client to bail"
Based on the documentation, this should work but doesn't:

    [user@lavos ssl]$ deisctl config router set enforceHTTPS=true
    true
    [user@lavos django_boilerplate|master]$ deis apps:create django-boilerplate
    Creating application... Couldn't connect to the Deis Controller:
    ('Connection aborted.', gaierror(8, 'nodename nor servname provided, or not known'))
    Make sure that the Contr

[2015-04-08 22:49] #3430 closed

[2015-04-08 23:06] croemmich commented on #3437
Don't know if it's related, but enforceHTTPS seems to be causing issues in 1.5.0 as the redirects are not happening properly. Did you use http or https when you logged in to the deis client?

[2015-04-08 23:23] croemmich opened #3438 "bug(router) enforceHTTPS Redirects Improperly"
After I updated to v1.5.0 enforceHTTPS is creating bogus redirects for non-https requests.

HTTPS:
[code]

HTTP:
[code]

I'll look in to and create a pull request if I find it, but won't have a ton of time this week.

[2015-04-08 23:24] croemmich commented on #3437
After looking into this more, I suspect it's related to #3438.

[2015-04-08 23:30] mboersma commented on #3429
I'm not entirely sure why `BUCKET_NAME` is there for registry, if that's the env var you mean. It doesn't appear to be referenced elsewhere--maybe it was copy-pasted from similar code in database?

I think it would be safe to use the `BUCKET_NAME` env var if it's set, otherwise fetch the bucket name from etcd, otherwise default to "registry".

[2015-04-08 23:45] bacongobbler commented on #3438
relevant PRs: https://github.com/deis/deis/pull/3264 https://github.com/deis/deis/pull/3266

[2015-04-09 00:17] krancour commented on #3429
IMO, it's not worth even messing with a `BUCKET_NAME ` environment variable at all.  For someone to tune the value of an environment requires them to hack on a unit file and that just seems like a PIA compared to just setting the `bucketName` via deisctl.

How about this:

[code]

Then later in the boot script:

[code]

Does that seem about right?  I did try this and I got a variety of errors, but

[2015-04-09 00:39] oddnotions opened #3439 "Trouble determining controller URL in Azure"
New to Deis, running through the docs to set up an initial base cluster in Azure. I've gotten to the point where Deis seems to be installed and running appropriately; deisctl list gives me a nice long list of loaded, active and running containers across my 3 CoreOS hosts (http://pastebin.com/4kPmVfw4). The docs state that my next step is to register the first user, the superuser, using the deis CL

[2015-04-09 00:41] krancour commented on #3429
Ok... I end up with output like the following in the registry logs.  I can't quite tell if this error is related to the changes I made (as described above).  The bit about "WARNING Skipping confd config file" certainly sounds like a bad sign.  :(

[code]

[2015-04-09 00:47] krancour commented on #3429
"AttributeError: 'NoneType' object has no attribute 'get_bucket'"

^ Looks like maybe some other bit of code further on down the line might not be learning about the bucket name now.

[2015-04-09 01:14] chrisgeo commented on #3439
In Azure, all your boxes should be behind the same subdomain. In your case myapp.cloudapp.net. They're part of a cluster and all get private IP addresses that are routable between the virtual machines.

After that you need to use the public IP address for your cluster to setup your DNS entries that are part of that cluster. You can see what I mean in the video below where I highlight the path to f

[2015-04-09 04:35] apps4u commented on #3423
yes , I’ll create a public repo and issue a push or should I just publish the link as I said its reads from a file called config.json in the project root but it would not be hard to change to read a .env file . Also It has not had any test written for the features I added so the pull request won’t be approved so I’ll just post a link to the repo and copy the code ..

All you need to do is change t

[2015-04-09 07:36] Blystad commented on #3429
I've fought with this once already. If it cannot connect to s3 it returns a NoneType (null)...

Did you set s3region in etcd? That was my error

[2015-04-09 08:53] Blystad commented on #3432
it was because of missing proxy_protocol in the listen directive. The updated #3096 fixed the issue.

[2015-04-09 09:05] Blystad opened #3441 "Application SSL does not support SAN certificates"
When I register a SAN certificate using `deis certs:add` only the common name is picked up, not the other SANs (which can be entierly different domain names)

An example certificate can have: `CN=example.com` and `SAN=DNS:example.co.uk,DNS:example.no,DNS:example.io,DNS:my-aweseome-example.com,DNS:other-website.com`

See this for a guide on how to create SAN certificates: http://apetec.com/support/

[2015-04-09 11:23] chrisgeo opened #3442 "deis router unresponsive until restart"
I'm not sure what causes this yet. After sitting idle for hours deis router is throwing a 503 error when attempting to authenticate with the system:

[code]

I also see these a large portion in all the logs:
[code]

Upon restart

[code]

After restarting all of the routers in the cluster after starts working fine again.

[2015-04-09 12:11] CptJason opened #3443 "Error: 501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]"
It's ok to play deis on OS X, but there is an error when I play it on Centos 6.6.
============================================
export DEISCTL_TUNNEL=172.17.8.100
[root@deis deis]# deisctl config platform set sshPrivateKey=~/.vagrant.d/insecure_private_key
Error: 501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]
=========================================

[2015-04-09 12:17] PierreKircher commented on #3443
etcd problem get a new tocken and reset the full coreos install

[2015-04-09 12:54] azurewraith commented on #3437
enforceHTTPS seems to work better in v1.5.0, it used to be that in order to get it to work in v1.4.1 I had to set it to true, then false.

In v1.5.0 everything else seems to be working great, except the client.

If enforcing HTTPS was working properly for the controller, it wouldn't matter what URL I logged in as or whether I configured SSL for the deis client.

#3438 seems relevant but for normal

[2015-04-09 13:18] anapsix commented on #3336
Despite using newer version of CoreOS (633.1.0), I'm having same issue with interfaces maxing out:
[code]

[2015-04-09 13:39] onbjerg opened #3444 "bug(controller): controller returns 500 on deis keys:add"
[code]

What could be causing this? I recently upgraded to 1.5.0, and I can push updates my apps and so on.

This is on a new computer. I am logged in, also.

[2015-04-09 14:00] azurewraith commented on #3437
Actually, I stand corrected... if I restart my routers I get behavior resembling #3438.

[2015-04-09 15:10] bacongobbler commented on #3336
@anapsix could you please post this upstream for docker? I'm afraid this is something which is out of our domain. Thanks!

[2015-04-09 15:17] bacongobbler commented on #3444
@onbjerg could you please show the logs from the controller via `fleetctl ssh deis-controller docker logs deis-controller`?

[2015-04-09 15:18] chrisgeo commented on #3444
Similar issues over here:

[code]

[2015-04-09 15:19] bacongobbler commented on #3443
closing as a duplicate: #3058 #2696

[2015-04-09 15:19] #3443 closed

[2015-04-09 15:22] bacongobbler commented on #3444
@chrisgeo that means both your registry and your database are not up, but that's a separate issue from `keys:add` not working.

[2015-04-09 15:33] chrisgeo commented on #3444
@bacongobbler Makes sense, but they're listed as being active. I'll look deeper into it. Thank you for the guidance.

[2015-04-09 15:49] krancour commented on #3429
@Blystad good call.  That was it.  I had actually seen advice in another issue to _not_ set that, although that was a very old, pre-1.0 issue.  I get much farther when I do this.

At this point, I'm confident that my proposed fix works.  I'll get to work on a PR.

That being said, I still hit an S3 issue.  It seems the registry (tries) to sync to my bucket in S3 at startup, but it doesn't get very

[2015-04-09 15:56] anapsix commented on #3336
@bacongobbler right.. right..

[2015-04-09 16:01] onbjerg commented on #3444
[code]

Tried running them from both a node in the cluster and from my local machine. Hmm?

[2015-04-09 16:08] krancour commented on #3429
Looks like data didn't copy up to my bucket properly in the first place.  That probably explains it.  Will move ahead with the PR.

[2015-04-09 16:10] bacongobbler commented on #3444
you need to add the SSH key you use to connect to your CoreOS nodes via `ssh-add`. If you're using the tool from a CoreOS node, be sure to `ssh -A` so your local agent is forwarded. :)

[2015-04-09 16:53] onbjerg commented on #3444
Well, okay, the logs are flooded with stuff, so I am going to post them here: https://gist.github.com/onbjerg(f36e06a65b05971097e2

[2015-04-09 16:54] onbjerg commented on #3444
It says something about the key already exists somewhere in the logs, but it is two different keys on different machines. They are both named id_rsa, though. Could this be it?

[2015-04-09 16:59] krancour opened #3445 "Backup/restore docs should note limitations of store gateway"
http://docs.deis.io/en/latest/managing_deis/backing_up_data/#database-backups-and-registry-data

In my experience, if you have any appreciable amount of stuff in the store, the gateway is easily overwhelmed during s3cmd sync.  Scaling up the number of gateways and running s3cmd sync multiple times both seem to help.

Unless I am totally off on this and this issue is only happening for me, then it

[2015-04-09 17:08] krancour commented on #3429
FYI... #3445 was the cause of latest issue.

[2015-04-09 17:25] krancour commented on #2812
So there are a number of open issues and PRs open related to this, but I want to suggest that since there seems (in my estimation) to be ample interest from the community in this sort of BYOS (bring your own storage) configuration, and since even with all the PRs in question taken into account, there is still an ample amount of configuration required to make this option feasible, maybe, _maybe_ wo

[2015-04-09 17:34] bacongobbler commented on #3444
that's possible... sounds related to #3285?

[2015-04-09 18:05] onbjerg commented on #3444
I tried removing the existing key on my Linux host (the new computer having trouble)

[code]

Worked fine. Now I try adding the previous SSH key from my other machine (Mac) to Deis

[code]

It is probably because both of the keys use the same e-mail, but this should not be the behaviour. It should allow keys with the same e-mail address, if they have a different fingerprint.

[2015-04-09 18:09] onbjerg commented on #3444
Yep, this is why. I tried generating a new key and I could upload it to the controller.

[2015-04-09 18:28] bacongobbler commented on #3444
yes, it should be checking the fingerprint instead. Nice catch!

[2015-04-09 18:31] itsbrok3n commented on #3439
Thanks for the response @chrisgeo. The setup of my cluster actually looks just like yours, with different host names of course. The cluster members are not under their own subdomains -- each has its own hostname, that's true, as with yours, but all are behind the same dns name (the one you highlight in your loop) of <containername>.cloudapp.net. They are individually pingable. It sounds like what

[2015-04-09 18:34] bacongobbler commented on #3439
alternatively, you can use the magic http://xip.io/ DNS service

[2015-04-09 18:47] onbjerg commented on #3444
Any pointers as to where this validation is? I could probably fix it myself, but I can't find it in the source :frowning:

[2015-04-09 18:56] bacongobbler commented on #3444
the unique constraints are [here](https://github.com/deis/deis/blob/e1538349fad1be04d906ecb04ce2f1674b3abfed/controller/api/models.py#L875-L879) and the tests that need updating are [here](https://github.com/deis/deis/blob/master/controller/api/tests/test_key.py)

[2015-04-09 20:26] itsbrok3n commented on #3439
Fair enough @bacongobbler -- I saw that option, but was not sure I wanted to go down that road. But magic, now that's hard to argue with :-)

Now, since I shut down my cluster nodes from Azure rather than from within the VM consoles, I deallocated my IPs. I figured I could deal with that, but when I restarted the machines Azure gave them all the same public IP (?!) which was... unexpected. Not sur

[2015-04-09 20:36] carmstrong commented on #2812
I think enough people have requested better support for a BYOS type of environment that it warrants the various PRs folks have put together, along with some documentation around it.

Right. That's a big requirement on the deis-store components (and Ceph). I don't want to add native support for something that would break core Deis functionality, hence the preference for documentation for this workf

[2015-04-09 20:44] carmstrong commented on #3413
Not quite - the error here is `error creating empty object store in /var/lib/ceph/osd/ceph-2: (22) Invalid argument`. I have seen this when developing the deis-store components, but was resolved by using `--net host` when running the container so that the container has access to the host's full network stack.

@Natsuke Did you ever figure this out?

[2015-04-09 21:00] carmstrong commented on #3442
503s are thrown when there are no upstreams for a config section. Where exactly are you seeing the 503? When trying to use the `deis` client to interact with the controller?

This is also odd:
[code]

Port 2222 is used to forward traffic to the builder component. It sounds to me like you had a rogue nginx process somehow (or one that got wedged), and nginx was unable to bind. Restarting should hav

[2015-04-09 21:03] krancour commented on #2812
@carmstrong understand the value of documenting this... and I am trying to do so, but to be honest, it's quite a struggle.  With the number of steps that it will end up adding up to in the end, it's really hard to not _want_ an easier way.

[2015-04-09 21:09] carmstrong commented on #3355
I think this could be achieved by having builder consume a `deis-store-volume` mount. This is an optimization that we could see being optional for users who want this performance improvement.

[2015-04-09 21:10] carmstrong commented on #3370
@kgk Please see if this behavior continues on Deis v1.5.0. We switched from using Apache to a built-in web server for gateway, and I suspect that you won't see the issue anymore.

If you do, or if we can help at all, feel free to ping us on this issue.

[2015-04-09 21:10] #3370 closed

[2015-04-09 21:12] carmstrong commented on #3378
Nope, that's the only option. I don't think this is a common enough use case to accommodate in Deis itself. For more information on customizing a component, see: http://docs.deis.io/en/latest/customizing_deis/controller_settings/

[2015-04-09 21:12] #3378 closed

[2015-04-09 21:13] carmstrong commented on #3386
Ceph hammer was just released, and @aledbf has seen that it seems to be more stable and less susceptible to clock drift issues. We'll bump that for v1.6.0.

[2015-04-09 21:15] carmstrong commented on #3390
@apps4u Let's try a discussion on the [deis-users](https://groups.google.com/forum/#!forum/deis-users) mailing list - I'm not sure this approach is the best one, and hopefully more brains can provide input. Thanks for bringing this up!

[2015-04-09 21:15] #3390 closed

[2015-04-09 21:21] carmstrong commented on #3395
@aledbf I'm not sure relying on Ceph is an advantage here, but I can see the motivation behind the request. We're going to look at optimizing builder for the next release. Thanks for bringing it up!

[2015-04-09 21:22] carmstrong commented on #3400
We would *love* to have someone else take a stab at this. Every time we try to improve this, we end up breaking someone else's use. We'd welcome a PR that re-evaluates how `deis run` commands are passed to the scheduler.

[2015-04-09 21:24] carmstrong commented on #3416
I think this makes a lot of sense and is worth exploring :+1:

[2015-04-09 21:26] mboersma commented on #3417
Does this mean the `deis` CLI doesn't see an error in this case?

[2015-04-09 21:26] carmstrong commented on #3400
To be specific, the issue is with the systemd unit. Systemd does its own escaping which conflicts with our escaping.

/cc @gabrtv

[2015-04-09 21:27] mboersma commented on #3423
+1

[2015-04-09 21:30] gabrtv commented on #3400
@carmstrong that's correct.  We _are_ escaping commands, the problem is that systemd interpolates any `${VAR}` syntax  that ends up in a unit file.  We plan to address this over time with a better scheduler for batch jobs, but it will take a few release cycles to get there.

In the meantime, if you are running complex commands with fancy shell, you should consider including those scripts in your a

[2015-04-09 21:31] mboersma commented on #3436
This should be fixed in the next release of `confd` v0.9.0.

[2015-04-09 21:38] Blystad commented on #3429
I had actually found the same docs that you found krancour. But, (and one could argue that this is a bug), in the `config.yml` file, if s3Region is not set then it sets it to `""` but in the YAML standard a null value is `~`. Since the python code checks "if s3Region is not null, then connect using the provided region", that fails since the s3Region isn't null (it's `""`), but it isn't a valid s3R

[2015-04-09 21:38] carmstrong commented on #3439
@itsbrok3n Did you use the Azure provision script in the Deis repository? The script outputs the instructions for setting up DNS, including the records you can copy and paste into your registrar.

[2015-04-09 21:44] carmstrong commented on #3445
@krancour I think this is a fine addition if you want to take a stab at it.

[2015-04-09 21:49] itsbrok3n commented on #3439
Yeah, I did. But then instead of using my registrar I tried to get around that, which was the wrong idea. Then I forgot to shut them down by ssh'ing in and doing a shutdown command -- did it from the Azure management interface, and so they all got deallocated. I figured that at worst I'd fire them back up and get 3 new IPs, but that wasn't the case, they came up instead with all of them sharing th

[2015-04-09 22:01] aledbf commented on #3417
@mboersma that warning is from `deis-controller` If is not possible to access etcd during any get/set operation.

[2015-04-09 22:05] carmstrong commented on #3439
Ah. Yes, I would destroy the hosted service and create a new one with a completely separate name.

[2015-04-09 22:05] carmstrong commented on #2812
Fair. Let's take a look at what the documentation ends up looking like in its current state, and then we can discuss making it easier. Does that make sense?

I don't think it's something we want to support as an out-of-the box change, but if we can reasonable make changes that enables users to more easily swap Ceph out, I'm all for that.

[2015-04-10 02:27] azurewraith opened #3448 "deis router requests hang after about an hour"
Slightly different from a recently reported error.

After about an hour, all connections to Deis' router hang in v1.5.0.  Once I restart each router, everything goes back to working fine...

    $ curl -v http://172.17.100.29/health-check
    * About to connect() to 172.17.100.29 port 80 (#0)
    *   Trying 172.17.100.29...
    * Adding handle: conn: 0x7fa212000000
    * Adding handle: send: 0

[2015-04-10 02:45] bacongobbler commented on #3448
@azurewraith if you can `nse` into the routers and show me the contents of `/opt/nginx/conf/nginx.conf` as well as a `ps faux` in the container, that would be appreciated.

[2015-04-10 03:52] azurewraith commented on #3448
Sure, I could reproduce this running v1.4.1 routers as well...

[2015-04-10 03:54] azurewraith commented on #3448
Another thing that is suspicious, my SSH sessions to the CoreOS host are terminating around the same time.

[2015-04-10 04:09] azurewraith commented on #3448
v1.4.1 router in a hung state: https://gist.github.com/azurewraith/cb59ea6a4233363362e5

[2015-04-10 04:38] bacongobbler commented on #3448
hmm, seems fine to me. The router logs don't show anything out of the ordinary?

[2015-04-10 05:45] carmstrong commented on #3448
Sounds like something is exhausting network throughput, or there's high CPU load on the host. Anything showing up in system metrics? Is it *just* the routers that are having trouble?

[2015-04-10 05:48] tslater commented on #2744
+1

[2015-04-10 05:55] azurewraith commented on #3448
Everything else is running smoothly, AFAICT.  There is plenty of memory to spare and the CPU's aren't really that busy...

[2015-04-10 05:56] azurewraith commented on #3448
Not anything that looks weird.  I wrote a script to capture it so I will take a log window a little closer to the event horizon.

[2015-04-10 10:43] scottrobertson opened #3449 "Interactive Rake Tasks"
Hey,

I have a rake task which requires user input. I use the following very simple way of getting user input:

[code]

However, when i run this, i get the following:

[code]

This only happens when running via `deis run`. Is there a better way to run these commands? Or am I doing something stupid?

Thanks
Scott

[2015-04-10 12:29] azurewraith commented on #3448
The timeout cycles are very oddly coinciding.  This script does a health check on one of the routers and sleeps for a minute.

    [lavos ~]$ ruby deis_router_health_check.rb
    .timed out, restarting
    .........................................................timed out, restarting
    .........................................................timed out, restarting
    ............................

[2015-04-10 12:50] mboersma commented on #3449
No interactive task will work in `deis run` until #117 is implemented, unfortunately.

[2015-04-10 15:37] bacongobbler commented on #3448
very interesting. I'm interested to see how this one turns out

[2015-04-10 15:50] azurewraith commented on #3448
Yeah, me too.  I'm looking into potential network issues as well.  I was running 602 w/ v1.4.1 a few days ago and it seemed fine.

[2015-04-10 16:49] joshrtay opened #3450 "Minimum install of deis consumes a lot of disk space"
consider using gliderlabs/docker-alpine as the base image instead of ubuntu

[2015-04-10 16:52] PierreKircher commented on #3450
not possible everywhere yet + there is work in progess already

[2015-04-10 16:55] bacongobbler commented on #3450
currently we can't do a true cut-over due to ceph requiring res_nquery from libc: https://github.com/deis/deis/pull/3175#issuecomment-77197581

[2015-04-10 17:02] joshrtay commented on #3450
didn't see #3715. looking forward to the changes.

[2015-04-10 17:30] #3224 closed

[2015-04-10 18:06] mboersma commented on #3438
#3266 is the culprit apparently. I can reproduce this, and reverting to the regex-based redirect seems to fix it.

I'll see if we have some error in the current 301 code and if I can't clean it up, we'll revert.

[2015-04-10 18:10] bacongobbler commented on #3438
hmm, maybe a switch from `$server_name` to `$host`? I'm not knowledgeable enough about nginx to know the difference but I'd imagine that `$server_name` is expanding to the literal `server_name` entry in the `server` directive.

[2015-04-10 18:15] mboersma commented on #3438
Yes, that's what I tried first and it seems to work so far. Makes sense.

[2015-04-10 18:21] bacongobbler commented on #3249
we should investigate this now with v0.8.0. With --watch enabled this should happen simultaneously... unless there's some race condition happening

[2015-04-10 18:39] azurewraith commented on #3448
Updated https://gist.github.com/azurewraith/cb59ea6a4233363362e5 with 2 dumps of journalctl @ host level just after the /health-check goes dark.

[2015-04-10 19:11] bacongobbler commented on #3395
So here's what I explained in the meeting yesterday about why this is necessary:

In previous versions, you had to specify an etcd key to pull in both slugrunner and slugbuilder into the builder. However as we all have known by now, `docker pull` requires network bandwidth, which in some cases - like when you're running a local vagrant cluster or DockerHub is down - can be slow at times. Therefore

[2015-04-10 19:12] carmstrong commented on #3441
Thanks for reporting this, @Blystad. SAN support is definitely something we want. We're going to look at adding a flag for `deis certs:add` like `--domains` that would allow you to specify which domains a cert should be added to, bypassing our inspection for "normal" SSL certs. This should enable us to support SANs with minimal code changes. Does that make sense?

[2015-04-10 19:14] aledbf commented on #3395
Exactly. Why not just populate the registry from a tgz with an "oficial" image?

[2015-04-10 19:20] bacongobbler commented on #3395
Because that breaks one of the biggest tenets of Deis: hackability (new word yay!). Hacking on Deis should be comfortable and easy, rather than having to set up your own remote S3 endpoint just to host your own custom slug* images.

[2015-04-10 19:21] bacongobbler commented on #3395
cedarish is an excuse because it's a complete mimic of heroku's cedar stack. If you're modifying it then you're doing something completely out of whack :P

[2015-04-10 19:27] aledbf commented on #3395
I just don't want to build `slugrunner` and `slugbuilder` but I don't want the old behavior either (docker pull for both images). The current weight of deis-builder is at least 370MB because of the cedarish tgz that every time you setup a cluster you need to download from docker hub.

[2015-04-10 20:05] wenzowski commented on #3438
Whoops, guess there was a reason for `$host`. Guess I must have set `$server_name` myself somewhere...sorry folks.

[2015-04-10 20:24] mboersma commented on #3438
No worries, I should have read the diff more closely and asked that question. :crystal_ball: Thanks again for all your contributions @wenzowski!

[2015-04-10 21:27] #3438 closed

[2015-04-10 21:27] #3437 closed

[2015-04-10 23:47] azurewraith commented on #3448
I have improved the script further and have captured some more detailed logs.  There definitely is something wonky with the network these hosts reside on.  So, I'll hold off on posting until the network is ruled out.

[2015-04-11 00:44] chrisgeo commented on #3448
@azurewraith Mind posting the script? I'd like to capture the issues I'm seeing as well.

[2015-04-11 04:40] apps4u commented on #3423
Sorry The codes on my laptop and I left it mothers when I went for easter.  so I wont have it back for three days please wait and I'll upload the code then sorry for the delay Ive not added the changes to repo  so its the only copy is on my laptop.

[2015-04-11 07:45] onbjerg commented on #3342
Also happens if your computer shuts down mid push. Even a rollback won't help.

[2015-04-11 08:11] onbjerg opened #3458 "/home/git/project.git/hooks/pre-receive: No such file or directory"
Uh. I tried to push a new version to Deis. Mid-push my computer shut down, and when I returned I could not push again because a push was in progress.

I read in the issue tracker that you could a) delete the lock file or b) restart the builder. I didn't find any lockfile, so I restarted the builder.

Now it seems like nothing works.

I get this error when pushing

[code]

[2015-04-11 11:22] scottrobertson commented on #3449
Hey @mboersma thanks for that. Do you know of a workaround for now? Or is there not one?

[2015-04-11 13:38] nathansamson commented on #3449
I ssh into the machine, and run nse tot enter the container.

A hack which you can only do if you are administrator.

Regards.
Op 11 apr. 2015 1:22 PM schreef "Scott Robertson" <notifications@github.com

[2015-04-11 14:08] mboersma commented on #3449
I think @nathansamson's workaround is the only thing you can do currently, until there is support for interactive `deis run` tasks.

[2015-04-11 15:01] azurewraith commented on #3448
@chrisgeo - https://gist.github.com/azurewraith/8bbab3bc16f8c7fd4365

I run it like this `ruby script.rb >> router_logs.txt 2>&1` and then tail the text file.

[2015-04-11 18:04] #3342 closed

[2015-04-11 18:04] #3427 closed

[2015-04-11 18:05] bacongobbler commented on #3449
let's close this and keep the discussion rolling in #117.

[2015-04-11 18:05] #3449 closed

[2015-04-11 18:05] bacongobbler commented on #117
for the meantime, this has been the workaround for most users: https://github.com/deis/deis/issues/3449#issuecomment-91845128

[2015-04-11 18:07] bacongobbler commented on #3458
that looks like the repository in the builder could be corrupted somehow. If you enter into the builder again, what's the status of `/home/git/wallz.git`? As a quick workaround you can also just remove the repository entirely and re-push.

[2015-04-11 18:09] bacongobbler commented on #3458
basically it's coughing up on this line which originally came from the gitreceive project: https://github.com/deis/deis/blob/master/builder/image/templates/gitreceive#L33

https://github.com/progrium/gitreceive

[2015-04-11 18:22] davidcelis commented on #3458
I'm having this issue with one of my repositories as well; it comes after performing an in-place upgrade of my Deis cluster from 1.4.x to 1.5.0:

[code]

Destroying the repository and re-creating it didn't seem to work:

[code]

[2015-04-11 19:59] davidcelis opened #3459 "Deis no longer produces app logs after an in-place upgrade"
Hi, all. I'm a bit new to Deis so apologies if I just missed something while doing an upgrade. I recently did an in-place upgrade from 1.4.x (I think 1.4.1) to 1.5.0 and I'm having a problem with one of my apps. It's just a Twitter markov chain account so it's not a big deal; I was able to produce a new release of one of my apps (the other is unfortunately plagued by #3458) and `deis ps` shows a p

[2015-04-11 20:07] bacongobbler commented on #3459
Since the controller's still shipping logs, let's start by taking a look at `logspout`. Could you please SSH into one of the hosts and post the output of `docker logs deis-logspout`? Since it's a global fleet unit, there's no way to grab individual logs via `deisctl` or `fleetctl`.

[2015-04-11 20:23] davidcelis commented on #3459
[code]

I'm guessing that's the problem!

[2015-04-11 20:26] davidcelis commented on #3459
Here's the full output of a `deisctl list`

[code]

It looks like the following services are only running on one host:

* deis-builder
* deis-controller
* deis-database
* deis-logger
* deis-registry (shown as deis-registry@1)
* deis-store-gateway (shown as deis-store-gateway@1)

Should any of those be running on all hosts instead of just one?

[2015-04-11 20:32] carmstrong commented on #3458
You can also try restarting builder - the repository cache does not persist through restart: `deisctl restart builder`.

[2015-04-11 21:49] davidcelis commented on #3459
I completely reinstalled the platform (`deisctl stop platform; deisctl uninstall platform; deisctl install platform; deisctl start platform`) and after a re-deploy of my app, I have logs again. It also allowed me to re-deploy the other app that was experiencing the issue in #3458.

[2015-04-11 21:56] onbjerg commented on #3458
@bacongobbler Everything is missing now.

[code]

[2015-04-11 21:58] onbjerg commented on #3458
@carmstrong Restarted the builder. Nothing.

[code]

[2015-04-11 22:06] onbjerg commented on #3458
Tried re-creating. Same thing. Weird.

[code]

[2015-04-12 03:45] chrisgeo opened #3460 "Exception in logs on store-volume startup"
I saw this come up in the logs when store-gateway stalled with the ceph error, then the store-volume couldn't come up:

[code]

[2015-04-12 06:35] bacongobbler commented on #3460
closing as a duplicate of #3436. If you can help test #3451 that would be appreciated. Thanks!

[2015-04-12 06:36] #3460 closed

[2015-04-12 06:37] bacongobbler commented on #3458
that is certainly odd behaviour. Maybe something changed with the [`check-repos`](https://github.com/deis/deis/blob/master/builder/image/templates/check-repos) script?

[2015-04-12 06:46] croemmich opened #3461 "Request: no downtime for apps during Deis platform upgrade"
During platform updates the routers are started last. This means all deployed apps will be offline until the builder has started, which can take quite a while. To reduce downtime, would it make sense to start the builder last?

[2015-04-12 08:16] scottrobertson commented on #3449
@nathansamson thanks for that. I have managed to get into the container, but none of the bundle stuff seems to be installed or working for this session, so i cannot run any rake commands or anything.

[code]

[2015-04-12 08:52] nathansamson commented on #3449
After entering your container you have to run your cmd as "/runner/init
rake" ....

Regards
Op 12 apr. 2015 10:16 AM schreef "Scott Robertson" <notifications@github.com

[2015-04-12 08:56] scottrobertson commented on #3449
Perfect, thank you @nathansamson

[2015-04-12 09:20] adamkdean commented on #3330
Did you ever find out what was causing this? I'm getting the same issue with some non-Deis Docker stuff.

[2015-04-12 18:44] carmstrong commented on #3461
That would work. Several people have asked about supporting better uptime during platform upgrades. We could think about how to allow the routers to remain up as long as possible.

[2015-04-12 21:25] carmstrong commented on #3459
Well, that's good news! I have a feeling the issue was with the store component and that was poked in the restart. Unfortunately, a component showing as "running" doesn't necessarily mean it's functioning properly, and may need to be poked - see #2906.

Investigating component logs is usually the next step. I'm going to close this since it's resolved. Thank you for the detailed troubleshooting!

[2015-04-12 21:25] #3459 closed

[2015-04-12 21:27] #2006 closed

[2015-04-13 05:58] croemmich commented on #3438
Thanks for getting this fixed and released... all in a couple days. I have deployed 1.5.1 and haven't found an issues so far. You guys rock!

[2015-04-13 06:32] babarinde opened #3463 "Deis application access and error logs not showing in v1.5"
Hello and Good day,
Thanks for the great jobs you guys do.

I have v1.5 installed and application log drain set in place but i no longer see the access logs and error logs in my application.
when I run ``` deis logs``` i see
[code]
not sure what this means but also in my logentries, I see logs but no access or error logs as i used to see pre 1.5.
Now I only see a bunch of publisher and deis store

[2015-04-13 07:09] szymonpk opened #3464 "can't execute apps:run"
While I'm trying to 'execute' any command on application. I'm getting 500 from controler

    $ deis apps:run "rake db:migrate" -a admin
    Running `rake db:migrate`...
    500 INTERNAL SERVER ERROR
    <h1>Server Error (500)</h1>

journalctl shows:

    Apr 13 06:55:22 deis-3 sh[4123]: 2015/04/13 06:55:22 attach: e89814e9487f admin_v7.run.5 success
    Apr 13 06:55:23 deis-3 fleetd-0.9.2[746]: I

[2015-04-13 09:07] ngpestelos opened #3465 "Unable to build 1.6.0-dev"
Hi,

I ran into this problem while rebuilding my fork of Deis:

`bin/get-app-config.go:101: cannot use body (type []byte) as type *http.Response in argument to builder.ParseConfig`

Has anyone encountered the same problem?

BTW, I'm using Ubuntu 14.04 and Go 1.4.1 to build the sources.

[2015-04-13 11:07] bacongobbler commented on #3465
`make -C builder build` works fine for me on master.

[2015-04-13 11:08] #3465 closed

[2015-04-13 11:22] bacongobbler commented on #3464
that error indicates that the SSH key you provided via `deisctl config platform set sshPrivateKey` (if provided) could not authenticate against the server. Did you set a key, or is your key encrypted?

[2015-04-13 11:25] szymonpk commented on #3464
My key isn't encrypted and `deisctl config platform get sshPrivateKey` shows proper key.

[2015-04-13 12:44] mboersma commented on #3438
@croemmich excellent, thanks very much for following up on `enforceHTTPS` and verifying it works for you in v1.5.1.

[2015-04-13 14:12] chrisgeo opened #3466 "Azure: Investigate Router "[emerg] 16#0: bind() to 0.0.0.0:2222 failed (98: Address already in use)""
On Azure, and sometimes on Vagrant, I see the error:

``` [emerg] 16#0: bind() to 0.0.0.0:2222 failed (98: Address already in use) ```

on the router process.

With a multiple router setup (3 for 5 boxes for example), one failing causes certain processes e.g. ``` deis ps:list ``` to return ```503``.

Right now, I haven't found any other processes using port 2222 aside from Azure opening port 2222

[2015-04-13 14:47] szymonpk commented on #3464
sshPrivateKey didn't match /home/core/.ssh/authorized_keys

[2015-04-13 14:47] #3464 closed

[2015-04-13 15:04] azurewraith commented on #3448
I'm ruling out the network as this is still happening on consistent time intervals (periodic according to when each router is restarted).  Still running `v1.4.1` routers but tweaked the cloud-config a bit to match the version in master and changed my docker bridge IP CIDR.  No effect.  Logs forthcoming but reviewing them over the weekend revealed nothing I'd deem out of the ordinary.  Maybe you'll

[2015-04-13 15:39] carmstrong commented on #3466
@chrisgeo should we close #3442 in favor of this issue?

[2015-04-13 15:40] carmstrong commented on #3463
Can you elaborate on the drain? I'm wondering if logspout is using that drain instead of our default one, not in addition to it.

[2015-04-13 15:52] ineu commented on #2986
Reopen please. Just faced this issue upgrading deis to 1.5.1 from 1.4.1:
[code]

[2015-04-13 16:55] chrisgeo commented on #3466
@carmstrong Yes please

[2015-04-13 16:56] chrisgeo commented on #3442
Moving to #3466

[2015-04-13 16:56] #3442 closed

[2015-04-13 17:13] olalonde commented on #475
Has this been implemented yet?

[2015-04-13 17:19] mboersma commented on #475
Not yet. We would love to see a PR submitted. :smile:

[2015-04-13 17:20] carmstrong commented on #475
`apps:rename` hasn't been implemented. Are you aware that you can give an app a descriptive name when you create it? There's a parameter for the application's name, and you can give it a friendly one.

[2015-04-13 19:12] Blystad commented on #3441
Sounds good to me.

[2015-04-13 19:35] ineu opened #3470 "SSL is broken after upgrade to 1.5.1"
After upgrading deis from 1.4.1 to 1.5.1, which introduced application-level certificates (http://docs.deis.io/en/latest/using_deis/app-ssl/), my previous wildcard certificates (http://docs.deis.io/en/latest/managing_deis/ssl-endpoints/#router-ssl) no longer work. Deployed application work via http, but trying to access them via https always give 404. According to deis-router logs, it tries to rou

[2015-04-13 21:24] ngpestelos commented on #3465
Thank you for your suggestion; I was able to build successfully now.

[2015-04-13 22:59] babarinde commented on #3463
@carmstrong
http://docs.deis.io/en/latest/managing_deis/platform_logging/#application-log-drain

[2015-04-14 01:09] ngpestelos opened #3471 "Unable to login to controller after upgrading to 1.6.0-dev"
Hi,

When I tried to login to the Deis controller, I received this reply:

`https://deis.example.com does not appear to be a valid Deis controller. Make sure that the Controller URI is correct and the server is running.`

I've upgraded from Deis 1.4 and while the controller is active (according to `fleetctl list-units`), the controller returned the following status:

http://imgur.com/EQvJFff

[2015-04-14 01:16] ngpestelos commented on #3471
Looking more closely, it seems the `/deis/registry` keys were not set.

[2015-04-14 03:42] jwaldrip opened #3473 "deis run is not attaching stdin"
I am trying to do a `deis run bash` on a deployed docker container. As soon as it starts it disconnects as if stdin was closed. Help. I need into the container.

[2015-04-14 05:33] szymonpk commented on #3461
Maybe It's stupid question - Instead of stop, uninstall, install, can't it be done via 'upgrade' where platform container would be replaced step by step, with respect of proper ceph upgrade if needed?

For router upgrade maybe it's possible to redirect traffic to other routers? Or allow for supervised router upgrade, where it would be message like 'Press enter to upgrade router#1, you can pull it

[2015-04-14 05:48] szymonpk commented on #3473
As far as I know it's not yet possible to run interactive processes via deis run. If you want get into container you can ssh to host machine (via fleet ssh or directly) and run `nse container-name`.

[2015-04-14 07:10] carmstrong commented on #3070
Not sure why I opened this - I think #117 suffices.

[2015-04-14 07:10] #3070 closed

[2015-04-14 07:10] carmstrong commented on #3473
Exactly correct - see #117.

[2015-04-14 07:10] #3473 closed

[2015-04-14 09:18] ineu commented on #3470
Looks like the problem is https://github.com/deis/deis/blob/master/router/image/templates/nginx.conf#L161-L163
Does it mean that I no longer can use wildcard certificate for custom domains?

[2015-04-14 09:40] nathansamson opened #3474 "Deis Builder resets key after upgrade / restart"
I updated deis from v1.4.1 to v1.5.1 yesterday.
I had troubles starting up the deis builder, so I've manually restarted it during the upgrade (which might not have been the best idea)

After pushing (for the first time after update) today I got the following error

[code]

I've done as suggested, and removed the key from known_hosts. But obviously I might have been udner a real MITM attack...

[2015-04-14 10:02] babarinde opened #3475 "Deis domains:remove removing all domains"
Hello and Good day guys and thanks for the great work

Am experiencing a strange behaviour in v1.5
when i add two domains to my app using the
```deis domains:add my1.example.com```
```deis domains:add my2.example.com```
When I delete one
```deis domains:remove my2.example.com```
both domains are deleted
Is this an expected behaviour?

[2015-04-14 10:33] ineu commented on #3470
What do you guys think about following solutions for custom domains:
1. If sslKey is set and there's no custom certificate for the domain, enable platform certificate.
2. If custom certificate contains asterisk, remove it and match against domain, so not only exact matches would work, but wildcards as well.

[2015-04-14 10:45] ngpestelos opened #3477 "logs.papertrailapp.com drain type is not implemented"
I'm seeing this after setting up log drain on 1.6.0-dev. Has anyone encountered this error?

[2015-04-14 11:22] glogiotatidis opened #3478 "Add http check in addition to the port open check"
In https://github.com/deis/deis/pull/3156 we check if the port is open before publishing the container. This works OK for most of the cases but it seems that there's a marginal chance that port is open but the server hasn't finished initializing yet.

A possible solution would be to add an additional HTTP status check: if port open, send a
`HEAD / HTTP/1.0` and expect a `HTTP/1.1 200 OK`.

How doe

[2015-04-14 11:44] ngpestelos commented on #3471
Working now after repeated attempts at restarting the controller.

[2015-04-14 11:44] #3471 closed

[2015-04-14 11:53] glogiotatidis opened #3479 "Cannot deploy, registry timeout"
On a 1.5.0 cluster sometimes deploy (using `deis pull`) either takes a lot of time or fails. Looking deeper in the logs it seems that docker has issues connecting to the internal registry. Sometimes after a couple of tries it fixes itself but once I had to `fleetctl stop` and `fleetctl start deis-registry@1` to make it work.

[code]

[2015-04-14 12:58] jwaldrip commented on #3070
@carmstrong what can I do to help here? Whatever it needs I will do, this is a major feature needed @Brandfolder

[2015-04-14 13:01] jwaldrip commented on #465
:+1:

[2015-04-14 13:32] bacongobbler commented on #3070
@jwaldrip basically we need to hook in `gevent` for django and handle the run logic so we can support long-running requests.

[2015-04-14 13:36] bacongobbler commented on #3478
that might be a bit too opinionated. I know that some apps (like our own controller) respond with a 404 response on `/`. Maybe anything other than 503 (the response from the router) would be acceptable.

[2015-04-14 13:39] bacongobbler commented on #3477
The protocol should start with `syslog://` or else you'll receive this error. https://github.com/deis/deis/blob/54badc5f2337694c584ffc0d610d3667b616fb17/logger/drain/drain.go#L39

[2015-04-14 13:53] mboersma opened #3481 "EC2 provisioning script failed with no error info"
During the EY Deis install-a-thon, an EC2 provisioning failed after "Creating instances" with a return code of 1 but no printed error. We think this was due to specifying availability zones that weren't accessible, or possibly due to using an AWS account that didn't have CloudFormation access.

[2015-04-14 14:00] glogiotatidis commented on #3478
We're getting 502s when that happens. Excluding 502s and 503s can work

[2015-04-14 14:31] bacongobbler commented on #3478
Hmm... Maybe 50x in general? Don't know if that's still too opinionated... Let's see what the other maintainers say.

ping @carmstrong @mboersma

[2015-04-14 14:40] babarinde opened #3482 "Deis controller Crashing"
Hello and Good day,
Running on deis v1.5 on gce
Please i experienced an issue yesterday with the deis-controller failing thereby not been able to connect via the deis-cli.  I simply restarted and it was fine.
Then today I noticed the same issue which means that my apps could not be accessed
``` fleetctl journal -f deis-controller``` shows:

[code]

```deisctl restart deis-controller``` works and t

[2015-04-14 15:04] bacongobbler commented on #3482
it's unnecessary. In that situation, they'd all fail over. The logs indicate that the database was down and was not publishing to etcd, most likely due to https://github.com/deis/deis/issues/2741.

Technically, it should be possible to make the controller scalable but in this case it won't help you.

[2015-04-14 15:29] nathansamson opened #3483 "Application SSL is not working when using multiple certs"
Hi

I have 2 apps (lets call it staging.app.com & www.app.com).
Both are using custom domains (my Deis isn't hosted on app.com)

Both domains have attached a cert for that CN.

As a test I've attached a cert to staging.app.com, and that worked perfectly.
Afterwards I've done the same to www.app.com, that worked perfectly as well.

Now when accessing staging.app.com, I get unsafe connection, becaus

[2015-04-14 15:57] babarinde commented on #3482
@bacongobbler
Is there any solution for this in view as I am seeing this error continously now
[code]

[2015-04-14 16:01] carmstrong commented on #3475
@babarinde What version of Deis are you running? This sounds like #3308 which should be fixed in Deis v1.5.0 (and v1.5.1).

[2015-04-14 16:04] babarinde commented on #3475
@carmstrong Deis v1.5.0 upgraded from v1.4

[2015-04-14 16:28] krancour commented on #2812
So here's where I am at with this.  This is what _I_ did.  I am under the impression that others may have done something similar, perhaps with better results, and I would love for what I did to be amended or corrected.  I think it might possible to do this in fewer steps.

Using 1.5.0, I start by installing the platform as usual.  I had bad luck with configuring everything for use without ceph fir

[2015-04-14 16:31] croemmich commented on #3448
I've been having this issue as well, however it doesn't seem to be consistent for me. I don't see anything odd in the logs.

[2015-04-14 17:04] Blystad commented on #2812
I simply deployed a new cluster and modified [deis-controller](https://github.com/deis/deis/blob/master/deisctl/units/deis-controller.service) and [deis-logger](https://github.com/deis/deis/blob/master/deisctl/units/deis-logger.service) to no longer depend on `deis-store-volume`.

I configured all settings beforehand, similar to what you did. Yes, we need to specify S3 settings twice, both for gat

[2015-04-14 17:17] krancour commented on #2812
@Blystad two questions:

1. Did you have to customize the unit files that you did end up deploying?

2. Did deis-builder give you any trouble?  Or do you think that is an issue you may have that is still lurking and hasn't manifested yet?  It does have a data-volume container it uses and I can't think of any way to externalize that state.

[2015-04-14 17:17] smothiki commented on #3354
There is no hard enforcement of syntax on  specifying memory from docker side . I think we should return an Error only if docker engine errors out and accept any syntax.
[code]

[2015-04-14 17:25] Blystad commented on #2812
1)

At the moment the deis-controller and deis-logger unit files I have deployed are customized yes. I just changed the

[code]

Part to require "docker.service" instead. But a dummy `deis-store-volume` should do the trick as well.

I guess I also modified deis-registry to add BUCKET_NAME environment variable.

2) Havn't seen any issues with the builder yet, and I've compiled about 20 apps so far.

[2015-04-14 17:38] krancour commented on #2812
@Blystad

Re: 2) When users upload public keys, they get added to the builder and the builder stores them on its volume.  That is how git pushes to the builder are authenticated.  And that is state that isn't externalized and gets lost if you fold up your cluster and launch a new one using the same external DB and S3.  It's among the easier things for users (developers) to fix themselves, because

[2015-04-14 17:47] Blystad commented on #2812
You mean for `.ssh/authorized_keys`? That is handled by `https://github.com/deis/deis/blob/master/builder/image/conf.d/authorized_keys.toml`. Surely no state should be put in docker volumes....

[2015-04-14 17:50] krancour commented on #2812
Then I'm misunderstanding this somehow.  Let me poke around.  Those keys are stored _somewhere_ that isn't externalized.  I am making inferences based on the grief the builder gave me when I tore down and replaced a cluster that I had presumed was _stateless_ after all the modifications discussed above.

[2015-04-14 17:55] krancour commented on #2812
Oh sorry.  I get it now.  D'oh.  They're stored in etcd.  Well that is sort of a bummer, really.  Shouldn't durable platform state be stored someplace else?  Keeping stuff like this in etcd makes it harder to just tear down an entire cluster and replace it with a new one.

Messing with etcd configs in order to _connect_ to services that _store_ durable platform state makes sense, but storing such

[2015-04-14 18:15] bacongobbler commented on #3482
can you please post the logs from `deisctl journal database`?

[2015-04-14 18:49] Blystad commented on #2812
I agree. I guess it should be stored both in `PostgreSQL` and in the `controller`, and the `controller` should ensure that `etcd` is updated with all `authorized_keys`.

Doesn't have to be anything fancy...something like:

[code]

On first boot.

[2015-04-14 18:51] krancour commented on #2812
If done on first boot, how would authorized keys on builder stay up to date over time?  Come to think of that, how does that happen today?  Doesn't confd only run at boot?

[2015-04-14 18:54] Blystad commented on #3470
This is related to #3441 Application SSL does not support SAN certificates

I suggest you just create a custom router for now.

Just replace these lines: [router/image/templates/nginx.conf#L158-L169](https://github.com/deis/deis/blob/fa48fd21e9aed44f7c50c43211b96dfa4c28f21e/router/image/templates/nginx.conf#L158-L169) with ` include deis.conf;` and you should be good to go. That's what I did.

[2015-04-14 18:57] Blystad commented on #2812
This is mainly to get the new clusters etcd to have the same contents as the old one.

To keep them up to date over time the old existing solution will do just fine (when a public key is inserted, add it to etcd (and postgre). When a public key is removed, remove it form etcd (and postgre)).

confd after it has executed the first time is started again and ran in the background. See: [builder/image

[2015-04-14 19:23] raphaelluchini opened #3485 "deis config:set numbers as string error"
Running ``deis config:set PARAM="7782089"``, when I get this env var,(for example in node ``process.env['PARAM'];``) I'm getting 7.782089e+06. Should come as string like "7782089" right?.

I'm using deis 1.4.0.

Thanks

[2015-04-14 19:27] krancour opened #3486 "Request: do not store user keys in etcd:/deis/builder/users"
Currently, when users upload keys, their keys are stored in two places: the database (makes sense) and etcd under the key `/deis/builder/users`.

The builder, ultimately needs to be aware of these keys and the builder runs confd in the background to update /home/git/.ssh/authorized_keys based on what's found in etcd under the `/deis/builder/users key`.

The problem with this is that anyone who's s

[2015-04-14 19:42] babarinde commented on #3482
@bacongobbler
```deisctl journal database ```
[code]

[2015-04-14 21:15] krancour commented on #2812
Trying to distill everything from this thread down into a general strategy for Deis w/ BYOS-- both how it can be accomplished today (with difficulty) and how it could (hopefully) be made easier in the future.

General strategy:

1. Set configs up front (i.e. before install and start).
  * This includes some configs that look to be duplicates and could probably be smoothed over a bit with a little

[2015-04-14 21:16] bacongobbler commented on #3486
Alternatively we could connect to the database and do some SQL queries to retrieve the keys. That means there's a dependency on the database for the builder though

[2015-04-14 21:20] krancour commented on #3486
But would you agree that etcd feels like the wrong place to maintain durable platform state an that its role should be more constrained to configuration and discovery?

[2015-04-14 21:28] ngpestelos commented on #3477
Thank you :+1:

[2015-04-14 21:28] #3477 closed

[2015-04-14 21:50] Blystad commented on #2812
You have `Customize deis-controller and deis-logger to eliminate dependency on deis-store-volume OR create a dummy deis-store-volume image.` as a point both on §2 and §3, other then that it looks pretty good to me.

One alternative to having something like `deisctl install stateless-platform` would be to have `deisctl install platform --without-store --without-database`.

I think we should conside

[2015-04-14 22:36] FreakinaBox opened #3488 "Feature request: customize controller host name"
Is there a config option to set the deis controller url? (deis.example.com)
if not there should be. I am runnig in a corporate environment with strict DNS rules

[2015-04-14 22:51] krancour commented on #2812
@Blystad I like where you're headed with that.  My only complaint would be the notion that it's separate from `deisctl`-- which seems like it would increase the maintenance burden.  Say, for the sake of argument, that new components get added to some future version of Deis or some are removed.  That would necessitate updating two _different_ command-line utilities that are both used for installing

[2015-04-15 01:25] mboersma commented on #2812
+1 for this general idea. I have wanted our provisioning script(s) to act this way for a while. We've also discussed having deis-builder *not* do the slow, expensive push of slugrunner for those users who intend only to build Dockerfile projects, and that could be another option for such an installer.

[2015-04-15 01:50] krancour commented on #2812
+1 on not requiring slugrunner build if user opts out.  It doesn't matter to me, personally.  I like the slugrunner, but I have co-workers who want to _always_ bring their own Dockerfile and they would love to trim that little bit of fat.

[2015-04-15 01:56] bacongobbler commented on #3486
Yes, I would agree with you :)

[2015-04-15 03:56] pdhar-tibco opened #3489 "Error: 501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]"
I have tried many times and looked around for similar hiccups while trying to get my feet wet with deis.
I am stuck at the first deisctl usage step in the following order from my macosx(192.168.1.75) terminal to the vm running CoreOS(192.168.1.77)

ssh-add ~/.ssh/deis
export DEISCTL_TUNNEL=192.168.1.77
deisctl config platform set sshPrivateKey=~/.ssh/deis
where I end up getting the Error:501.

I m

[2015-04-15 04:01] bacongobbler commented on #3489
FYI we don't support single-node deployments. You need [at least 3](http://docs.deis.io/en/latest/installing_deis/system-requirements/) nodes to deploy Deis.

As for your question, I'd inspect etcd on the CoreOS host. Start by ssh'ing in and running `systemctl status etcd`, `systemctl status fleet` and `journalctl`. Could you please provide those logs into a gist? Thanks!

[2015-04-15 04:27] pdhar-tibco commented on #3489
I have posted into a gist deis.log <https://gist.github.com/pdhar-tibco/fe02cfc5bf9d2fef2867> .
When there is a requirement of at least 3 nodes. Does it mean I need to create 3 coreOS virtual machines instances on the vmware fusion running on the host mac book.

-Pranab

[2015-04-15 04:35] bacongobbler commented on #3489
your etcd is in a `auto-restart` loop, which means that it is indeed failing. A `journalctl --no-pager -u etcd` should reveal the problem.

Indeed it does. Since it requires a minimum of 2GB per node it's best to have at least 16GB of RAM on your host so that there's enough space for the host system (my laptop with 8GB consistently crashes with virtualbox, for example).

[2015-04-15 04:50] pdhar-tibco commented on #3489
I do see the etcd repeating in a failure loop. The output gist is here journalctl --no-pager -u etcd <https://gist.github.com/pdhar-tibco/e1af8793c9fff96a0e29>

-Pranab

[2015-04-15 05:24] bacongobbler commented on #3489
VMWare Fusion doesn't set up a private IPV4 address properly on CoreOS, which is why you'd be seeing https://gist.github.com/pdhar-tibco/e1af8793c9fff96a0e29#file-journalctl-no-pager-u-etcd-L5083. It's one of the reasons why we don't fully support that platform for Deis. :(

CoreOS has said that they can't support providers which don't have a hosted metadata service to determine the IPv4 addresses

[2015-04-15 05:28] krancour commented on #3486
Totally nitpicking (sorry), but want to request clarification.  Does "the database" imply _the_ `deis-database` component explicitly enumerated in the `deis-builder.service` unit as a requirement?  Or could this be a more implicit requirement?

I ask because there's been a theme to my issues/comments lately that has to do with relaxing some such tight couplings so that it's _easier_ to bind to ext

[2015-04-15 05:57] bacongobbler commented on #3486
"The database" in this case implies connecting to the database set up in the relevant `/deis/database` etcd keyspace, similar to how the controller connects. The database can easily be swapped out for an RDS instance by modifying the keys set at the [database settings page](http://docs.deis.io/en/latest/customizing_deis/database_settings/) and shutting off `deis-database`.

This is a loose require

[2015-04-15 06:10] krancour commented on #3486
Perfect.

[2015-04-15 06:18] babarinde commented on #3482
@bacongobbler
``` deisctl restart deis-controller``` doesnt seem to get this back up
Sadly, all my apps are now down.
I neededtodo a restart

[2015-04-15 06:22] ineu commented on #3470
@Blystad Thank you, plan in #3441 sounds great to me.

[2015-04-15 11:08] Blystad commented on #2812
[code]

Here is a dummy deis-store-volume. I think if we use that, then it should do the trick.

Then there is the duplicate values...Not sure if we prefer to create a unit file which copies them from /deis/registry to /deis/store/gateway, or if we prefer doing that as part of the stateless installation script/solution.

[2015-04-15 12:40] babarinde commented on #3341
This s really a needed feature.
Thanks for the work
@aledbf @mboersma
Can I Pull (and Push ) from the deis-registry from a coreos node in the cluster ?
Also if i do ``` deis pull example.com:5000/image:v2 -a app```
Is this good practice as against using the Internal Ip of the registry

[2015-04-15 12:52] aledbf commented on #3341
@babarinde the idea of this proposal is to avoid the search of the ip inside the cluster where the registry is running.

yes, just use the ip inside the cluster `docker pull <ip>:5000/app:vXX`

that's the idea of deis pull :)  (http://deis.io/demo-deis-pull-in-action/)

I don't know if is a "good practice" but for me solves a huge problem (have 1 app as "template" and N "copies", is useful to pull

[2015-04-15 14:36] carmstrong commented on #3197
This may no longer be relevant after switching from btrfs to ext4 for the volumes.

[2015-04-15 15:02] mboersma commented on #3488
It's not currently possible to set the "deis" part of the host prefix separately, if that's what you are asking. Whatever domain you use to access your Deis cluster, there are some hard-coded prefixes that the router mesh recognizes in order to route traffic to the proper component, and this is one of those.

[2015-04-15 16:26] krancour commented on #2812
@Blystad thanks for the unit file for the dummy `deis-store-volume`, but I am thinking now that the notion of an installation wizard is gaining some support _and_ the implementation of that needs to not increase the maintenance burden on Deis' constituent unit files and images in order to keep that support, running a dummy `deis-store-volume` is possibly not ideal.  (Since it's an _additional / al

[2015-04-15 16:39] bacongobbler commented on #2812
Yes I would agree on de-coupling the hard-coded dependencies and loosen the requirements more to discovery via fleet. That way the components will still require some S3-compatible store to offload logs but you can swap it out for the offering of your choice.

[2015-04-15 17:10] ineu opened #3493 "deis:perms is not working in fresh installation"
I've just set up cluster with Deis 1.5.1 and trying to make user an admin. Unfortunately I get 404 on `deis:perms`:

[code]

deis-router:

[code]

deis-controller:

[code]

[2015-04-15 17:37] carmstrong opened #3494 "Do not automatically scale up to 1 after a deploy"
If a user has 0 containers of an app running and publishes a new release, we should confirm that Deis doesn't automatically scale up to 1.

**Example:**
I have an app that defines two proctypes, **web** and **foo**. I keep my **web** scaled to 0, and only want **foo** to be running most of the time. If I deploy my app again, will Deis scale **web** back to 1?

[2015-04-15 17:47] bacongobbler commented on #3494
I couldn't find any relevant unit tests that cover this, sadly, so a unit test (even if it is skipped for now) would be appreciated.

[2015-04-15 18:05] carmstrong commented on #3493
This means the app wasn't found. You either need to change your local directory to the application directory, or specify the app name with `--app=`.

[2015-04-15 18:12] ineu commented on #3493
@carmstrong Thanks for the explanation. It worked indeed. But `perms:create username --admin` doesn't require `-a` key. I assume that `--admin` is system-wide, and `perms:list` is per-app?

[2015-04-15 18:14] bacongobbler commented on #3493
yes you are correct in that sense. However, `deis perms` is synonymous with `deis perms:list` which is the per-app endpoint. If you want to list sysdamins then you have to use the full `deis perms:list --admin` (note: `deis perms --admin` may work but I've never tried)

[2015-04-15 18:16] ineu commented on #3493
Yes, `deis perms --admin` works. Awesome, thank you.

[2015-04-15 18:18] #3493 closed

[2015-04-15 18:31] rogerleite opened #3497 "deisctl tries to destroy app named "registry" when uninstalling platform"
[code]

We have a app named as "registry", maybe this is a problem. I tried to start platform and hangs exactly the same.

Now deis client is getting 503 service unavailable for any command that i try. I'd like scale 0 or even destroy this app.

My units status: https://gist.github.com/rogerleite/f18b05a2099b10529a23

[2015-04-15 19:01] bacongobbler commented on #3489
closing in favour of CoreOS' response in coreos/bugs#97. Short of "officially" supporting VMWare Fusion there's nothing actionable to fix this in deis. If you do get it working, a PR to update the docs on working with VMWare Fusion would greatly be appreciated :)

[2015-04-15 19:01] #3489 closed

[2015-04-15 19:11] bacongobbler commented on #3485
Is this during the build (i.e. `git push deis`) or in the actual container? Can you please run `deis run env` in the application for me?

[2015-04-15 19:27] raphaelluchini commented on #3485
Is after build, running ``deis run env`` the output is ``PARAM=7782089``, I got a workaround, using single quotes inside double quotes eg: ``deis config:set PARAM="'7782089'"``. Worked fine, but it's weird :P.

[2015-04-15 19:32] bacongobbler commented on #3485
this is probably an app issue, most likely due to the integer getting casted to a float. AFAICT it looks fine from Deis' end.

[2015-04-15 19:35] bacongobbler commented on #3485
I just found out that all numbers [are stored as floating point numbers](http://www.w3schools.com/js/js_numbers.asp) in Javascript, so yes this is an application issue.

[2015-04-15 19:35] #3485 closed

[2015-04-15 19:37] raphaelluchini commented on #3485
I got the same issue using PHP

[2015-04-15 19:37] aledbf commented on #3485
@raphaelluchini running `docker inspect <your app name>_v<version>.web.1` in the node where the app is scheduled you can see in the "Env" section of the output how the variable is stored in the docker image. You will see PARAM=7782089

[2015-04-15 19:45] #3436 closed

[2015-04-15 20:46] eMxyzptlk commented on #1156
Is there a way to work with an image that has two ports? For example, Gerrit requires a web port and an ssh port for pushing the repository, how can I make that work?

[2015-04-15 21:27] Xe commented on #1156
The problem is that things like Gerrit fundamentally differ from the application workflow that things like Deis assume.

[2015-04-16 03:18] rvadim commented on #3458
I have the same issue today morning. Can someone help with running command on builder?

[2015-04-16 03:27] rvadim commented on #3458
Recreate of project help.

[2015-04-16 03:46] #3354 closed

[2015-04-16 06:37] resouer commented on #1156
@eMxyzptlk  Deis is more like a transitional PaaS which assume its apps like 12-factor model.

Try kubernetes or mesos.

[2015-04-16 07:23] babarinde commented on #3341
@aledbf

 How does deis resolve example.com:5000 to the internal IP of the registry when the registry is not scaled to 3

[2015-04-16 07:45] onbjerg commented on #3458
I don't know what to do. The cluster is useless for this project at the minute. Can push other projects fine, though. This is the most important one, unfortunately.

[2015-04-16 08:40] nathansamson opened #3501 "After upgrading to 1.5.1 deis uses lot more resources"
Hi

I've upgraded to v1.5.1 a few days ago.

Since then I see on resource usage graphs (bandwidth & cpu) that all my nodes are a LOT more active.

I also noticed that deploying new apps seems to take more time than before (although this was a feeling that I can't proof).

This is even resulting in etcd timeouts & other impacting problems.

I believe this might be related to #3479

One thing I noti

[2015-04-16 08:56] bacongobbler commented on #3501
we heard from @aledbf that this is due to the `--watch` changes for confd in v1.5, which basically turns out that this new feature is not how we expected it to work.

Yes, that is normal. Each container runs its own confd process so a `ps faux` on the host would show all of those running processes.

[2015-04-16 09:01] bacongobbler commented on #3501
more specifically check out the asciicasts on https://github.com/coreos/etcd/issues/2679#issuecomment-93019720

[2015-04-16 09:08] bacongobbler commented on #3458
@onbjerg try the following:

[code]

after that, try pushing again. If that doesn't work then I'd try and see how we can reproduce this issue consistently (we haven't been seeing it over on our end)

[2015-04-16 09:48] nathansamson commented on #3483
Is someone else having this problem?

Is there something I can do to debug the problem?

[2015-04-16 10:41] nathansamson opened #3502 "Non existing app returns http 200"
Hi

Relaed to: #1624

I do not want customization right now, but more importantly this is now HTTP 200, while in fact this should be HTTP 404 or HTTP 500.

I encountered this issue when my cluster was unstable & my app wasn't served.
My monitoring did not raise errors as a 200 request was returned.
I could strengthen up my monitoring by looking for certain words, but that is cumbersome and should

[2015-04-16 11:15] ianblenke commented on #1082
For content of the error pages, the first impulse is to point nginx at some static content under cephfs in /var/lib/deis/store, but that breaks any hope of S3 compatibility.

The second impulse is to store the static content under an S3 or RadosGW bucket, and have nginx serve up the content cached from there.

There still needs to be some method of allowing custom nginx configurations beyond the s

[2015-04-16 13:09] aledbf commented on #3341
If you do not specify a full hostname:port `deis pull` will use the public docker registry to retrieve the image. Remember that this is a proposal to change that behavior.

Now how deis resolve the registry if there's more than one is the easy part :)
check with `etcdctl ls --recursive /deis/registry` the key `/deis/registry/host` contains the registry that is acting as "master" (you can have mult

[2015-04-16 13:46] #3481 closed

[2015-04-16 15:17] carmstrong opened #3505 "confd: Limit scope of etcd --watch to /deis or remove it altogether"
See coreos/etcd#2679. confd is refreshing keys whenever their TTLs change, which is quite frequently, likely due to:

- Watching the entire etcd keyspace rather than just `/deis`
- Each component's published keys (host/port)

The etcd team is discussing adding support to filter out TTL updates from "normal" key changes, but in the meantime we need to investigate whether limiting watch to `/deis` r

[2015-04-16 15:19] carmstrong commented on #1082
Exactly. :+1: We're certainly open to proposals, but that's the primary concern.

[2015-04-16 15:31] carmstrong commented on #2812
If we can achieve that in a sane way without changing the current out-of-the-box experience, I'm all for it.

You can certainly do that by just calling `deisctl install` on the components you *do* want. So that could easily be done in a sort of installation wizard/script that you're proposing.

[2015-04-16 15:41] nathansamson commented on #3458
@bacongobbler: your work around helped for me.

I noticed this issue today with (one) of my projects. I believe the issue MIGHT have been some general unstability earler today on my platform.

Deis builder was moved between hosts a few times during some period, and might not have completely started up properly...

[2015-04-16 15:44] carmstrong commented on #3470
@bacongobbler This definitely sounds like a regression. If users use a router-level wildcard certificate, that should apply to *all* domains as it did before. We'll need to address this and consider #3441 as a potential solution.

[2015-04-16 15:49] carmstrong commented on #3483
There have been some reports of SSL cert funkiness, namely #3441 and #3470, so I wouldn't be surprised if there's something wrong here.

It would be helpful if you could enter a router with `nse deis-router`, then gist the contents of `/opt/nginx/conf/nginx.conf `. That will show how the domains are configured, and what certs they're serving.

[2015-04-16 15:51] eMxyzptlk commented on #1156
I'll keep Deis because in-house we are following the 12-factor model. I'll just deploy Gerrit to another server outside of Deis in this case.

[2015-04-16 15:54] nathansamson commented on #3483
See https://gist.github.com/nathansamson/ee6c209746bdababb0c1

From what I know from nginx, that looks fine but if you try accessing http://demo.beeple.eu you'll see it will serve up the incorrect file

[2015-04-16 15:55] carmstrong commented on #3478
I would agree. I don't think it's our responsibility to understand when an app is done initializing other than accepting connections on the bound port, and I don't think we can make a decision here that everyone will be pleased with.

We actually hear this question from users not infrequently - I just spoke with someone about this yesterday, who was wondering how this health check could be improve

[2015-04-16 15:57] nathansamson commented on #3483
Running

diff /etc/ssl/deis/certs/demo.beeple.eu.cert /etc/ssl/deis/certs/www.radarwerk.be.cert

does return an empty output, so it seems the files are equal.

Wondering if I did something stupid, or if the upload overwrites older cert files...

Deis certs is giving the output I expect
[code]

[2015-04-16 15:59] carmstrong commented on #3483
Given that the expires time is identical, I'm guessing that they're in actuality the same cert. You can inspect the certs with the `openssl` client, or try creating a new self-signed cert and ensure Deis serves that.

[2015-04-16 16:00] nathansamson commented on #3483
Please look again: The expires time is ONE day off :)

[2015-04-16 16:02] nathansamson commented on #3483
To make sure I wasn't doing stupid I removed the old demo.beeple.eu cert, and reuploaded

[code]

After a few seconds the router was synced again

(In the router)
[code]

(Local machine)
[code]

[2015-04-16 16:03] nathansamson commented on #3483
It seems something wrong is going on in the syncing certs part...

[2015-04-16 16:05] carmstrong commented on #3483
Ah, yes. Hmm... what does `/bin/generate-cert` look like inside the container? That's what generates the certs from etcd.

Also, inspect the etcd keyspace at `/deis/certs` - I think we'll need to work backwards to figure out where the issue is.

[2015-04-16 16:12] nathansamson commented on #3483
Okay, the generate-certS looks wrong

I've updated https://gist.github.com/nathansamson/ee6c209746bdababb0c1

in the loop it is writing out 2 cert files, and 2 key files, which looks odd. I would expect to only write one key file & 1 cert file per loop run...

/deis/certs looks correct.

generate-certs writes out ALL certs (they ARE different) out in every loop run, so obviously every file will ha

[2015-04-16 16:15] carmstrong commented on #3483
That would explain it. Thanks for investigating, @nathansamson. We'll need to fix this ASAP.

/cc @bacongobbler

[2015-04-16 16:17] nathansamson commented on #3483
I would expect the generate-certs template to look more something like this

Can we please fix this BEFORE v1.6 (v1.5.2) as this is impacting me right now...

[code]

[2015-04-16 16:22] carmstrong commented on #3483
Yes, this will warrant a patch release for v1.5.2. We don't typically track patch releases in milestones, but I think it's a good idea for transparency.

@nathansamson Please try your proposed template. If it works, open a PR and we'll test it against this issue.

[2015-04-16 18:33] rogerleite commented on #3497
To fix this situation, i did:

Destroyed all services:
`fleetctl list-units | grep service | cut -f1 | xargs fleetctl destroy`

Install and start via deisctl:
`deisctl install platform`
`deisctl start platform`

[2015-04-16 19:06] Blystad commented on #2812
While I agree it's not ideal, it would reduce a lot of work.
I agree it's not ideal, it is a quick solution to reduce a lot of work, until we have found the time to execute all the necessary work.

This brings me to a question: **How do we move ahead with removing `deis-store-volume` as a dependency?**

The easy part is fixing the unit file part (remove `-v /var/lib/deis/store:/data` if `/deis/sto

[2015-04-16 19:09] ashaffer opened #3508 "Affinity arg is not working correctly"
Right now if you set the affinity arg, I would expect that if a url does not contain that argument at all, it will be routed with no affinity.  But it appears that instead it is routed consistently to the same server, as if it were consistently hashing the undefined value.

This is a problem for us, because we only want to use sticky routing on one of our services (for xhr polling / sockets), but

[2015-04-16 19:32] bacongobbler commented on #3508
I believe this was the intended behaviour, but I'm not knowledgeable enough about affinity args to refute that. @wenzowski, how do you feel about this one?

[2015-04-16 19:47] bacongobbler commented on #3497
thanks for the report, @rogerleite. I've updated the title to better reflect the problem at hand here.

[2015-04-16 19:53] bacongobbler commented on #1156
Okay, that sounds like a good alternative. Unfortunately the reason why we cannot support something like Gerrit at this time is because of

a) this issue
b) no tcp support in the router for applications: #1315

This issue with multiple ports should get resolved in the meantime, but we need to properly flesh out a design for how we can support multi-port applications... Which will probably roll out

[2015-04-16 19:57] bacongobbler commented on #3470
That should be unchanged, but if it isn't then yes it's a regression. I specifically [called that out](http://docs.deis.io/en/latest/using_deis/app-ssl/) in the docs, so if it isn't working then it's definitely a regression

[2015-04-16 21:36] krancour commented on #2812
@Blystad I could be wrong, but I am imagining that the code/processes running within `deis-logger` and `deis-cotnroller` should both be modified to _gracefully_ handle the absence of that directory, so that if it's there, great, if not, NBD.

Then, I believe, the rest of what you proposed sounds correct.  `requires` probably becomes `wants` and mounting volumes from `deis-store-volume` becomes con

[2015-04-16 21:56] krancour commented on #2812
Also, just for the sake of minimizing any overlapping efforts in this thread, I am currently hacking on `deisctl` to create an "install wizard."  It's rough around the edges still, but I am continuing to iterate on it.

I'll socialize my basic approach now in case anyone wants to comment and steer me off an undesirable path.

1. I've added utility functions for interactively prompting the operator

[2015-04-16 23:50] ngpestelos opened #3510 "deis-store-metadata won't start (missing ceph-mds)"
Hi,

I'm using a fork of Deis based on 1.6.0-dev on a fresh cluster.

http://imgur.com/hfOrz9a

[2015-04-16 23:58] jwaldrip opened #3511 "Unable to register with https"
It seems there is a client error when trying to register with the controller.

[code]

[2015-04-17 00:08] azurewraith commented on #3511
Is the certificate valid?  Can you view a deployed app over https?

[2015-04-17 00:25] azurewraith opened #3512 "enforceHTTPS=true causes client side and git issues"
[user@lavos app|master]$ git push -f deis master
    /usr/local/bin/gitreceive: line 33: /home/git/app.git/hooks/pre-receive: No such file or directory
    fatal: Could not read from remote repository.

    Please make sure you have the correct access rights
    and the repository exists.

So I tried to delete and recreate the app:

    [user@lavos app|master]$ deis apps:destroy --app app

     !

[2015-04-17 01:05] azurewraith commented on #3512
I restarted the builder and `app_new_name` started to throw the pre-receive error again...

[2015-04-17 01:23] jwaldrip commented on #3511
Yes and yes

—
Sent from Mailbox

On Thu, Apr 16, 2015 at 6:08 PM, azurewraith <notifications@github.com>
wrote:

[2015-04-17 01:39] ngpestelos commented on #3510
I "fixed" the problem by building a new cluster.

[2015-04-17 01:39] #3510 closed

[2015-04-17 08:21] Blystad commented on #2812
I wonder if we will need `deis-logger` at all...I think we might be able to just set:
* `/deis/logs/host`
* `/deis/logs/port`

to papertrail (or similar syslog compatible service).

It seems `deis-logger` only obtains the app name from the incoming message and uses that to find out which file (in `/data`, which is mounted to `/var/lib/deis/store`) to append the log to.

Which leaves `deis-controll

[2015-04-17 08:21] Blystad commented on #2812
I've got some time over the weekend so I can start looking into the unit files.

[2015-04-17 08:28] krancour commented on #2812
@Blystad I agree that deis-logger has little or no value if the storage subsystem isn't also installed.  So yes... I can adjust the wizard I am working on to skip that component and it can configure logspout to send logs directly to a remote log server.  As notes, that would leave the controller as the only other concern.

[2015-04-17 08:33] Blystad commented on #2812
I tested it now and yeah `deis-logger` isn't necessary at all. Awesome. I'll look into `deis-controller` over the weekend then.

[2015-04-17 08:40] ineu opened #3513 "Add `deis whoami` to the help screen."
`deis whoami` command from #1979 is unfortunately undocumented. Would be nice to add it to `deis help` output.

[2015-04-17 08:54] bacongobbler commented on #3513
It's not top-level entity so it's not shown on `deis help`. However, it's under both `deis help auth` and `deis shortcuts`.

[2015-04-17 08:54] #3513 closed

[2015-04-17 08:58] bacongobbler commented on #2812
This is how the controller ships API-level events to the application log. Because we need to ship each log entry to its respective app log we couldn't use Django's default logging system, but yes we could ship them via syslog to the logger. where if the user decided to target the log endpoints over to papertrail then that's fine.

[2015-04-17 09:37] babarinde commented on #3458
@bacongobbler ,
Hi, am having this same issue. as I can push to some apps and not to some others.
While trying ```rm -rf /home/git/wallz.git``` wallz.git was not found.
My deis-builder logs are these
[code]

[2015-04-17 09:42] babarinde commented on #3458
@bacongobbler
I restarted the deis builder and tried to do a push
the journal shows
[code]

[2015-04-17 09:46] babarinde commented on #3512
@azurewraith
am not so sure this is because of the enforceHTTPS.
I think it is related to this https://github.com/deis/deis/issues/3458

[2015-04-17 09:54] babarinde commented on #3502
@nathansamson
Is the application deployed? run
``` deis apps:logs -a appName``` to find.
If your app is returning a 200 then it means you probably have an error from your code

[2015-04-17 11:45] ineu commented on #3513
Ok, then there should be help entry for `deis:auth`:
[code]

[2015-04-17 12:54] rogerleite commented on #3497
Thanks.

[2015-04-17 12:55] nathansamson commented on #3502
Its a non existing app.

I also had the problem with a deployed app where all the containers were down.

My app doesn't give any nginx pages, so it is definitly NOTHING to do with my app...

[2015-04-17 13:35] mboersma opened #3514 "InsecurePlatformWarning during builds"
Recently urllib3 began [emitting these warnings](https://urllib3.readthedocs.org/en/latest/security.html#insecureplatformwarning) during our normal builds whenever python touches SSL. Looks like we can fix it by updating to Python 2.7.9 (or by explicitly silencing it). An example:
[code]

[2015-04-17 13:52] mboersma commented on #3514
While it's a huge pain to get anything but python 2.7.6 on Ubuntu 14.0.4, `alpine:3.1` has python 2.7.9. Just sayin'. :smiling_imp:

[2015-04-17 14:00] azurewraith commented on #3512
I think I'm experiencing #3458 at the same time, there definitely is a client side issue happening concurrently given that the create app behavior is different and the end result is the new app is not created...

    [user@lavos app|master]$ deis apps:create app
    Creating application...
    /var/folders/2q/1zznrz4j3bs37qmd_159m_n00000gp/T/_MEIpx2oZp/requests/packages/urllib3/connection.py:251:

[2015-04-17 14:48] bacongobbler commented on #3502
it's because the routers have a `default_server` directive which returns 200 OK. We need it for the health checks so we're not sure how to remove it in a clean way.

[2015-04-17 14:59] bacongobbler commented on #3511
which version of the client is this? I believe this was fixed with #2721.

[2015-04-17 15:15] jwaldrip commented on #3511
Okay updated to the latest... But now I have a new issue:

[code]

[2015-04-17 15:17] jwaldrip commented on #231
Any chance this is getting priority with the recent EY aquisition?

[2015-04-17 15:31] bacongobbler opened #3515 "feat(deisctl): deisctl config <component> rm"
Some users have been disabling features. The only workaround today is to SSH into one of the CoreOS hosts and run `etcdctl rm` on the specific key. We should map a `deisctl config <component> rm` command to do the equivalent.

[2015-04-17 15:35] bacongobbler commented on #3511
That's just a warning. It's telling you that your cluster is out of date and some features may not be compatible with the new client. For the most part you can safely ignore as long as you refer to the API reference document to see what's changed in v1.2.

http://docs.deis.io/en/latest/reference/api-v1.2/

[2015-04-17 15:36] bacongobbler commented on #3511
closing as a duplicate of #2719

[2015-04-17 15:36] #3511 closed

[2015-04-17 15:53] bacongobbler commented on #3483
This worked completely fine for me. My process on reproducing:

[code]

[2015-04-17 15:56] nathansamson commented on #3483
By ignoring your self signed certificate oyu also ignored the fact that it was for a wrong domain name.

"The certificate is only valid for the following names: www.bacongobbler.com, bacongobbler.com " is the error I get with firefox

[2015-04-17 16:02] bacongobbler commented on #3483
Oh. that would explain the issue here. Good catch

[2015-04-17 16:16] bacongobbler commented on #3483
patch incoming...

[2015-04-17 17:11] bacongobbler commented on #3458
@babarinde `wallz.git` was referring to the application name. If your application name is `foo`, then you'd need to remove `/home/git/foo.git`.

[2015-04-17 18:11] onbjerg commented on #3458
@bacongobbler Erh..

[code]

[2015-04-17 18:12] carmstrong commented on #3458
@onbjerg Can you see if the CoreOS host is OOM? And what's using the memory? What platform is this deployment on?

[2015-04-17 18:20] onbjerg commented on #3458
How can I check that in CoreOS? It is deployed on a 3-node cluster on DO.

[2015-04-17 18:21] carmstrong commented on #3458
I'd start with `top` and investigate from there.

[2015-04-17 18:23] onbjerg commented on #3458
Definitely not OOM. Only one node has little memory left (deis-1, 233 megs) all of the others have >2GB of memory left.

[2015-04-17 18:24] #3501 closed

[2015-04-17 18:24] #3505 closed

[2015-04-17 18:25] carmstrong commented on #3458
Is that the node running builder? Confirm with `deisctl list`. Builder will spike memory usage during a build/deploy, so you could easily consume the rest of that memory.

[2015-04-17 18:26] onbjerg commented on #3458
@bacongobbler The way this happened was that my Macbook turned of mid-push. So I guess one way to reproduce it would be

1. Create a new project with something on it and run some sort of process (i.e. web processes)
2. Do a git push and wait until it starts building
3. CTRL+C (or terminate the terminal?) mid-push to simulate my Macbook hurting itself.
4. Try to push again.

[2015-04-17 18:27] onbjerg commented on #3458
@carmstrong Yes. It is running the builder. Can I move it somehow?

[2015-04-17 18:35] carmstrong commented on #3470
Look at the code @Blystad called out:

Not including deis.conf at all for app domains seems like the culprit.

[2015-04-17 18:47] wenzowski commented on #3508
Digging into the `$arg_name` construct, it does indeed return empty string when the argument is unset and therefore nginx is consistently hashing on empty string. This is indeed a bug.

Yes @ashaffer what you're doing does sound like the most common use case.

I'm exploring this, but completely open to suggestions.

[2015-04-17 18:51] pdhar-tibco opened #3518 "Not able to run Deis::etcd on Amazon EC2"
In continuation of my earlier issue #3489 trying to install DEIS on vmware fusion single node . As advised I am now trying to install DEIS on Amazon EC2 (3 nodes) and I have completed the provisioning step. I did the following steps as mention in the readme.
1. export DEISCTL_TUNNEL=52.11.XXX.XXX (masked my public ip of the ec2 node)
2. deisctl config platform set sshPrivateKey=~/.ssh/deis.pem (fr

[2015-04-17 18:53] bacongobbler commented on #3518
Sounds like you re-used an old discovery URL. Did you ruin `make discovery-url` before provisioning the cluster? http://docs.deis.io/en/latest/troubleshooting_deis/#all-the-given-peers-are-not-reachable

[2015-04-17 18:54] carmstrong commented on #3508
I guess I'm not sure why https://github.com/deis/deis/blob/master/router/image/templates/nginx.conf#L147 is being evaluated when `/deis/router/affinityArg` is unset?

[2015-04-17 18:56] pdhar-tibco commented on #3518
I ran the make discovery-url which used the user-data.examples template to generate the user-data.
Then i proceeded to run the provisioning script for ec2.
I can try it again and update shortly.

[2015-04-17 19:00] wenzowski commented on #3508
Oh was that the question? My understanding @carmstrong is that when affinityArg was set, eg to `'sticky'` and nginx received a request containing the arg, eg to `GET 'https://example.com/xhr?sticky=prngHash'` everything works as expected, but when a request comes in that doesn't contain an http get variable, eg to GET `'https://example.com/'` then nginx returns an empty string for `$arg_sticky` th

[2015-04-17 19:05] carmstrong commented on #3518
It actually looks like the machines cannot communicate with the discovery URL endpoint - they're getting injected with the proper discovery URL, but that URL has no hosts: https://discovery.etcd.io/f4741ddaec75b183930c9c6ac38e3177

Do you have anything that would prevent the hosts from making outbound requests?

[2015-04-17 19:11] pdhar-tibco commented on #3518
I am starting fresh again to prevent any missteps. As far as outbound network rules are concerned I was able to ping to the outside world from the ec2 instance. I made sure that the inbound rules have the ports 4001,7001 open.

[2015-04-17 19:11] wenzowski commented on #3508
Off the top of my head, I'm thinking of something like this
[code]
Which [takes advantage] of c++ `rand()` rather than a csprng and stores the resulting integer in a string. I would assume this would always generate the random number, regardless of if it gets used or not, but seems like negligible overhead, and the fastest way to fix the problem.

[takes advantage]: http://wiki.nginx.org/HttpSetMi

[2015-04-17 20:01] mboersma commented on #3479
We have also occasionally seen the stock `registry:0.9.1` die when using it for local testing. They might be the same issue. You can set `loglevel` to "debug" in [docker-registry "classic"](https://github.com/docker/docker-registry#general-options) to see more.

[2015-04-17 20:49] wenzowski commented on #3508
It'll probably take me to Tuesday to get to this. Can you confirm I understand correctly @ashaffer or is @carmstrong on the money?

[2015-04-17 21:10] pdhar-tibco commented on #3518
I tried again with the same results as before as shown in this gist https://gist.github.com/pdhar-tibco/0cc8a2309750c1c4b24e
What am I doing wrong ?

[2015-04-17 21:19] pdhar-tibco commented on #3518
In my newly setup ec2 instances I tried this to ensure output requests are working.

ip-172-31-35-233 etcd.service.d # curl https://discovery.etcd.io/f502b6f36dcb038239be260761e0d5b4
{"action":"get","node":{"key":"/_etcd/registry/f502b6f36dcb038239be260761e0d5b4","dir":true,"modifiedIndex":473784823,"createdIndex":473784823}}

[2015-04-17 21:30] #3483 closed

[2015-04-17 21:42] carmstrong commented on #3450
Going to close in favor of #3175, where we're tracking the alpine changes.

[2015-04-17 21:42] #3450 closed

[2015-04-17 21:43] carmstrong commented on #3458
You could `deisctl stop` and `deisctl uninstall` the builder, and upon installing and starting again it may get scheduled to a new host. However, if all of your hosts have the same memory, you will likely run into this again.

What are the specs on these machines?

[2015-04-17 21:45] krancour commented on #2812
@Blystad as @bacongobbler pointed out, `deis logs` won't work if an operator opts out of the storage subsystem.  I think we knew this going in.  What would you think about this... what if as part of the installer I am working on, if the operator opts out of the storage subsystem, besides asking them where to drain logs _to_, I also ask them for a URL where devs can access those logs?  I can stored

[2015-04-17 21:49] bacongobbler commented on #3463
chat logs from IRC this morning: https://botbot.me/freenode/deis/2015-04-17/?msg=36867694&page=2

seems like a buildpack issue to me (by that I mean how heroku-buildpack-php ships logs to stdout)

[2015-04-17 21:50] carmstrong commented on #3466
Please let us know if you find any more information on this. My only thought is that the Docker daemon isn't immediately releasing the listening ports upon a container exit, and you're hitting a race condition with the new router process not being able to use the port.

[2015-04-17 21:50] mboersma commented on #3478
It would be too strict to expect a 200 response, but it might be reasonable to expect the thing on the other end to act like an HTTP server (and ignore the status code).

[2015-04-17 21:53] bacongobbler commented on #3474
relevant: https://github.com/deis/deis/pull/2203

[2015-04-17 21:54] mboersma commented on #3475
Note to self: uncomment the skipped test we wrote to validate the fix I'm going to write.

[2015-04-17 22:00] babarinde commented on #3458
@bacongobbler
Thanks for the comment on the ```wallz.git```
Remove the existing app.git but i Just noticed something which may or may not be related
THe two apps that are experiencing this issue are apps that I had pushed using the buildpacks then later with Dockerfile.
This could just be a coincidence but the ones that I consistently pushed with Buildpack or Dockerfiles do not show this issue.

[2015-04-17 22:00] carmstrong commented on #3478
I'd like to hear from more people if this is really how everyone wants health checking to work. I can't think of many cases where an app takes so much longer to start up/initialize after its daemon is up and listening on the port, which we are currently waiting for.

[2015-04-17 22:03] carmstrong commented on #3482
@babarinde I'm afraid without further logs around what database was doing when you originally ran into issues, there's no much to go on here.

If you redeployed, how is the deployment running now? Should we close this issue?

[2015-04-17 22:03] ashaffer commented on #3508
@wenzowski Yes, your understanding is correct.  That should address the issue.

[2015-04-17 22:07] babarinde commented on #3482
@carmstrong
There are no issues any longer after a restart.
I think we can close this.
Hopefully I wont have to, but if this comes up again, I will reopen it and Paste the logs of the database as at then
Thanks.

[2015-04-17 22:07] #3482 closed

[2015-04-17 22:10] bacongobbler commented on #3502
https://github.com/deis/deis/blob/master/router/image/templates/nginx.conf#L266-L277

[2015-04-17 22:10] carmstrong commented on #3497
ping @slack didn't you have some similar fixes for apps named `deis-` that you were going to PR?

[2015-04-17 22:13] carmstrong commented on #3502
We could actually do this quite easily by adding a default `return` on line 268-269 of the template, and explicitly returning a 200 for the health-check and status endpoints.

[2015-04-17 22:13] bacongobbler commented on #3512
@azurewraith that sounds like you have an older python version. Try updating to 2.7.9

[2015-04-17 22:14] carmstrong commented on #3508
Yep, this is something we should fix. Let us know how we can help, @wenzowski!

[2015-04-17 22:16] bacongobbler commented on #3512
oh this is with the self-contained deis client. We'll have to ensure we have 2.7.9 on Jenkins slaves.

[2015-04-17 22:18] bacongobbler commented on #3512
see #3514

[2015-04-17 22:21] bacongobbler commented on #3518
It looks like your instances aren't able to connect to discovery.etcd.io as per the logs.

[2015-04-17 22:21] onbjerg commented on #3458
@carmstrong The 4GB instances on DO. Should do for 2 apps, though. Uninstalling and reinstalling didn't help. Dang it.

[2015-04-17 22:22] carmstrong commented on #3512
@azurewraith The SecurityWarning is just a warning (see #3514).

The real issue you're seeing is #3458. We'd **love** to figure out why that's occurring. If you have any input, please provide it in #3458. Thanks!

[2015-04-17 22:22] #3512 closed

[2015-04-17 22:24] pdhar-tibco commented on #3518
If that is the case then I should not be able to get to the url using curl. I can do it from command line on the instance ssh and etcd daemon can’t.

curl https://discovery.etcd.io/f502b6f36dcb038239be260761e0d5b4
{"action":"get","node":{"key":"/_etcd/registry/f502b6f36dcb038239be260761e0d5b4","dir":true,"modifiedIndex":473784823,"createdIndex":473784823}}

[2015-04-17 22:24] carmstrong commented on #3515
This should probably be `deisctl config unset` and behave similarly to our existing commands:
[code]

[2015-04-17 22:25] slack commented on #3497
Yeah, commit is sitting on this branch https://github.com/deis/deis/compare/master...slack:deisctl-list

I need to circle back, extract the filtering and add a unit test.

However, looks like https://github.com/slack/deis/blob/3794474cbc4408a9c47a782b9a063230ffa90488/deisctl/cmd/cmd.go#L271 actually needs the fix and wouldn't be covered by the branch I was working on.

[2015-04-17 22:26] mboersma opened #3523 "Use python 2.7.9 or urllib3 cert setup code in client"
We should fix the way we build the `deis` CLI to deal with the potential issue mentioned in #3514 to ensure that `urllib3` can't run into that cert handling bug.

Refs #3512.

[2015-04-17 23:11] Joshua-Anderson commented on #3514
@mboersma I know I'm taking crazy here, but is there any reason that you aren't using python 3? :smiling_imp:  :smile_cat:

[2015-04-17 23:15] pdhar-tibco commented on #3518
I ran this from command line using the  configured parameters
[Service]
Environment="ETCD_ADDR=172.31.35.233:4001"
Environment="ETCD_DATA_DIR=/media/ephemeral/etcd"
Environment="ETCD_DISCOVERY=https://discovery.etcd.io/f502b6f36dcb038239be260761e0d5b4"
Environment="ETCD_PEER_ADDR=172.31.35.233:7001"
Environment="ETCD_PEER_ELECTION_TIMEOUT=2000"
Environment="ETCD_PEER_HEARTBEAT_INTERVAL=500”

-----

[2015-04-17 23:17] carmstrong commented on #3518
@pdhar-tibco How did you provision these instances? Did you follow our instructions and provision scripts to deploy to AWS?

[2015-04-17 23:19] pdhar-tibco commented on #3518
Yes, I followed the instructions except configuring the DNS one which I don’t have the need at this early evaluation stage.

[2015-04-17 23:21] mboersma commented on #3514
It's a good question. Porting controller to py3 would be a bit of work, and in the other two cases where this shows up in the build it's not a Deis project directly (ceph-monitor, docker-registry). And sadly today's state of affairs is that py2 is still heavily preferred everywhere, despite our efforts to move things forward.

We could do it for the controller, but we might need to make the whole

[2015-04-17 23:33] Blystad commented on #2812
Yeah I was aware that `deis logs` wouldn't work with a seperate storage system. At least easily.

There are many methods we could use for supporting external logging sources. The simplest, as you suggested, is to allow viewing logs at some external service (`https://my-awesome-log-server.example.com`). Second is the same, but ability to specify variables (`https://my-awesome-log-server.example.com

[2015-04-17 23:42] carmstrong commented on #3470
@ineu @Blystad Would you mind testing out the proposed solution in #3519? You can upgrade your routers by:
[code]

[2015-04-18 00:36] carmstrong commented on #3518
@pdhar-tibco You're still using the same discovery URL that you used for your local instances. Notice when you go to https://discovery.etcd.io/f502b6f36dcb038239be260761e0d5b4 that there is one machine listed, with an IP of `172.31.35.233`. Your EC2 hosts are trying to talk to this IP (when they of course cannot), so that's why you're seeing `501: All the given peers are not reachable (Tried to co

[2015-04-18 02:04] pdhar-tibco commented on #3518
OK. I have started the provisioning atfer make discovery-url.
I had modified the user-data.example template with the following sections. I am wondering if any of these changes can contribute towards the problem.
--------------
< # Set SSH keys
< ssh_authorized_keys:
<  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD4E7QdfjEjeWES3t4I6iM1D6eerCcUTqggNOdzaVY39kaOZ4k4QxPzkpiX2M4hJLRupfM6sX3UmUCpZT+AQua7DrKX

[2015-04-18 02:23] pdhar-tibco commented on #3518
It looks like the users were creating some problem. I only limited my changes to the ssh_authorized_keys and it is working.

[2015-04-18 02:42] #3518 closed

[2015-04-18 03:02] onbjerg commented on #3458
I just upgraded to 1.5.1 and it works now. Strange.

[2015-04-18 03:29] azurewraith commented on #3512
Setting aside the security warning and the receive hook error, IMO there is a legitimate issue here.

I created an app and it ended up not being created with enableHTTPS=true.  I can reproduce this if needed -- removing all the other cruft.

As for the Python issue, I didn't install anything except what is present in CoreOS or the core containers.

[2015-04-18 04:11] onbjerg opened #3525 "Post http://*:8000/v1/hooks/build: EOF"
Hello!

Whenever I push something to Deis, I get this strange error message

[code]

I recently upgraded from 1.5.0 to 1.5.1. Prior to that I had the issue described in #3458, which seemed to disappear after the upgrade.

No error messages in ``deisctl journal builder`` and all of the Deis components are running according to ``deisctl list``.

What could be causing this?

[2015-04-18 04:36] krancour commented on #2812
Actually, I was having a serious brain-fart earlier.  While I do think it would be great for the `deis-controller` to gracefully handle requests for logs that fail on account of missing volume/folder, the controller only need _return_ the URL where the operator specified logs can be found.

It's obviously the responsibility of the `deis` CLI (in the example I gave) to display that information or o

[2015-04-18 04:55] bacongobbler commented on #3525
this is a post to the controller. Is there something in the controller logs?

[2015-04-18 05:24] onbjerg commented on #3525
[code]

Times ∞

[2015-04-18 05:26] bacongobbler commented on #3525
that means the registry is down. Time to follow the breadcrumbs :bread:

What's the status of the registry?

[2015-04-18 05:29] onbjerg commented on #3525
It's active and running. It is complaining in the logs, though.

[code]

This is basically repeated over and over.

[2015-04-18 05:40] onbjerg commented on #3525
Store is also active and running. Also complaining to the logs.

[code]

Recurring theme?

[2015-04-18 05:45] onbjerg commented on #3525
Seems like some missing information. Trying to restart the registry.

[2015-04-18 05:50] onbjerg commented on #3525
GG. Now we're back to #3458

[2015-04-18 06:07] onbjerg commented on #3525
Gasp!! It worked!

[2015-04-18 06:07] #3525 closed

[2015-04-18 06:12] bacongobbler commented on #3525
weird. @onbjerg please contact us on IRC if you're seeing these issues again. Seems like you're hitting a plethora of them all at once. Sorry!

[2015-04-18 06:15] onbjerg commented on #3525
Will do :smile_cat:

[2015-04-18 15:08] azurewraith commented on #3512
Sorry, I know what you meant.  Client side I'm running 2.7.8 which comes standard with OSX.

[2015-04-18 15:13] azurewraith commented on #3512
For reference, I edited this comment to include the 404, which is the real reason I submitted this issue.

https://github.com/deis/deis/issues/3512#issuecomment-93991484

[2015-04-18 17:18] zackp30 commented on #2878
I get close to this error, but instead it's "Empty reply from server". Exact quote:

[code]

[2015-04-18 17:19] zackp30 commented on #2878
[code]

[2015-04-18 19:51] onbjerg commented on #3423
I have a working bash script for this. It is Heroku-specific, but making it work with a .env file shouldn't be too hard, as the format is the same as the output from ``heroku config``.

https://github.com/onbjerg/heroku-to-deis

[2015-04-18 20:10] onbjerg commented on #3423
Wow. Ok, I didn't even realize you only needed to make it possible to specify a path. I need to get some more sleep.

[2015-04-19 03:40] chrisgeo commented on #3466
@carmstrong Sorry about that - I'll close it out until it hits again as I haven't had time to investigate the logs I've collected. Like the other issue similar to this though, I haven't seen anything in them.

[2015-04-19 03:41] jwaldrip opened #3528 "Client warning of wrong version with latest cluster"
I am getting the following error when trying to run any deis command. My cluster is at the latest release (v1.5.1) so I have no idea on why I would be seeing this warning...

[code]

[2015-04-19 03:41] jwaldrip commented on #3511
@bacongobbler my cluster is at v1.5.1 that doesn't explain why I am still seeing the warning. I will open an issue for this.

https://github.com/deis/deis/issues/3528

[2015-04-19 11:42] idosh commented on #2744
+1

[2015-04-19 11:55] mboersma commented on #3135
Fixed by #3174.

[2015-04-19 11:55] #3135 closed

[2015-04-19 11:58] mboersma commented on #3474
This is a duplicate of #3092.

[2015-04-19 11:58] #3474 closed

[2015-04-19 12:03] mboersma commented on #3219
@Californian were you able to sort out the VirtualBox bridge issue here? I'm not sure what else to try for troubleshooting.

[2015-04-19 12:18] mboersma commented on #3528
If the server is actually running v1.5.1, it should be responding with [API v1.2.0](https://github.com/deis/deis/blob/v1.5.1/controller/api/__init__.py), and release testing didn't show this warning. Can you check again that you aren't still running v1.4 or earlier of Deis on that controller?

[2015-04-19 15:29] bastilian opened #3529 "deisctl install platform hangs when < 3 nodes"
When running less then 3 nodes `deisctl install platform` will hang indefinitely waiting for routers to be loaded.

This is likely caused by `deisctl` itself, due to it trying to install 3 routers ([cmd.go#L441](https://github.com/deis/deis/blob/master/deisctl/cmd/cmd.go#L441)):

[code]

The documentation "strongly recommends" 3 nodes, the above kinda "requires" it.

I'm not sure if simply reducin

[2015-04-19 15:36] onbjerg commented on #3529
What are the specs on the individual nodes?

[2015-04-19 15:37] onbjerg commented on #3529
It says right here in the documentation: http://docs.deis.io/en/latest/installing_deis/system-requirements/#cluster-size

[2015-04-19 15:39] onbjerg commented on #3529
But yes, the "strongly recommend" part would need to be updated in /docs/contributing/hacking.rst as well.

[2015-04-19 16:54] bacongobbler commented on #3529
The hard requirement is really due to ceph. If ceph loses quorum then your data is lost, so we make it set up 3 OSDs:

https://github.com/deis/deis/blob/master/store/monitor/bin/boot#L9
https://github.com/deis/deis/blob/master/store/base/templates/ceph.conf#L9

We can easily run just one router, but the storage layer isn't as scalable when it was first implemented.

[2015-04-19 21:31] sedouard commented on #3482
FYI I've been hitting this issue as well. Trying to restart with `deisctl restart platform` leaves the controller in a failed state. Rebooting the vms left deis in a weird state. Can't even reinstall deis on the cluster either. I think I have to provision my cluster.

[2015-04-19 23:10] #3475 closed

[2015-04-20 00:24] jwaldrip commented on #3528
Correct. Just created a new cluster running 1.5.1 and I am still getting the warning.

[2015-04-20 00:47] bacongobbler commented on #3528
@jwaldrip can you please explain your deployment process? Curious to know how you're ending up with the wrong server API version.

[2015-04-20 00:54] bacongobbler commented on #3482
@sedouard please open a new issue with some logs from the controller and we'll take a look into it. Thanks!  :)

[2015-04-20 01:06] bacongobbler commented on #3528
Also if you can't run `deis certs:list` then you're definitely on an older controller version

[2015-04-20 01:16] sedouard commented on #3482
[code]
It just repeats this over and over. Unfortunately I deallocated the bad cluster ( after restarting coreos it wouldn't come back online anyways). I'm working on getting a new one up to repro the issue.

[2015-04-20 01:17] jwaldrip commented on #3528
Totally my fault. I had the 1.5.1 unit files but my user-data was specifying the old version.

[2015-04-20 01:17] #3528 closed

[2015-04-20 01:19] sedouard commented on #3482
@babarinde will have to reopen...

[2015-04-20 01:40] bacongobbler commented on #3528
In the future, a `deisctl config platform set verstion=v1.5.1` and rebooting the platform will rectify the issue:)

[2015-04-20 01:47] Joshua-Anderson commented on #3482
@sedouardI don't think that this error is restricted to the controller.  When developing locally, the last two times I have started up a cluster, the registry and then store metadata would not publish their `host` key, just like what is happening to your controller. Very strange.

[2015-04-20 02:57] carmstrong commented on #3529
Not quite - data isn't lost. And the monitors are what maintain quorum, not the daemons. Daemons store replicas of data.

The requirement for having multiple hosts, for Ceph or otherwise, is redundancy. Deis is a distributed system, and requiring three nodes is more or less hard requirement. If fewer hosts is a requirement for your environment and you're happy to give up the benefits of a fault-to

[2015-04-20 02:57] #3529 closed

[2015-04-20 03:00] carmstrong commented on #2878
@zackp30 Your cluster is in recovery - give it a few minutes. You can also `deisctl restart store-daemon` to poke things, although I suspect that by now it's recovered on its own.

[2015-04-20 03:24] sedouard commented on #3482
spun 2 clusters up and I can't reproduce the issue. previously `deis register` was just hitting an error 504. Now both work fine... strange.

[2015-04-20 06:48] bastilian commented on #3529
Thanks all for clearing this up!

I think that  /docs/contributing/hacking.rst should reflect that it is a requirement or mention the requirement by referencing "Cluster Size" on the installation guide.

The reason I ran into this is that I'd like to hack on my Macbook Air, which dies when booting three VMs, and therefor I lowered the number of instances. I believe if it is possible to lower the r

[2015-04-20 10:58] rogerleite commented on #3497
Reading deisctl source, maybe the problem is:

When Stop calls [`expandTargets`](https://github.com/slack/deis/blob/3794474cbc4408a9c47a782b9a063230ffa90488/deisctl/backend/fleet/stop.go#L14), registry has the suffix `@*`, so it calls [`expandTarget` with `registry` argument](https://github.com/slack/deis/blob/3794474cbc4408a9c47a782b9a063230ffa90488/deisctl/backend/fleet/utils.go#L93) and **proba

[2015-04-20 11:06] babarinde commented on #3482
@sedouard
Hopefully everything works fine, but in case you run into this error again pls post the database logs so as to have more info and we can reopen this
Thanks

[2015-04-20 13:48] olalonde opened #3531 "/usr/bin/dock cannot allocate memory"
I am getting the following error when trying to launch a unit on the coreos cluster:

[code]

What might be the cause of this error? `top` doesn't seem to bring up any memory issues and `df /` shows only 2% disk usage.

[2015-04-20 13:50] aledbf commented on #3531
@olalonde that means that there's no enough free memory to create a new container in that node

[2015-04-20 14:31] olalonde commented on #3531
RAM memory?

[2015-04-20 14:32] aledbf commented on #3531
Yes

[2015-04-20 15:19] #3285 closed

[2015-04-20 15:19] #3444 closed

[2015-04-20 15:57] jwaldrip opened #3533 "Error with `deis certs:remove`"
Getting the following error when trying to remove a cert.

[code]

[2015-04-20 16:01] jwaldrip opened #3534 "Cannot get application SSL to function"
I have the following setup:

* ELB with 443 frontend to 443 Backend over TCP assigned to Security Group with 443 inbound allowed from all ips.
* Cluster with security group allowing 443, and 80 from ELB security group.
* Cert added with `deis certs:add` with a wildcard cert for *.brandfolder.com

***Expected:***
Application is accessible at zip.brandfolder.com

***Actual:***
Connection timeout.

[2015-04-20 16:16] bacongobbler commented on #3534
Wildcard certs for custom domains are currently unsupported. If you're installing a platform wildcard certificate, that has to be installed either [on the load balancer](http://docs.deis.io/en/latest/managing_deis/ssl-endpoints/#installing-ssl-on-a-load-balancer) or [on the routers](http://docs.deis.io/en/latest/managing_deis/ssl-endpoints/#installing-ssl-on-the-deis-routers).

[2015-04-20 16:20] cheshirecatalyst commented on #3534
so related to this, i have added a similar cert, and am unable to remove it getting

[code]

is there anyway to fix this? we have tried removing it from storage and a few other things, but nothing seems to work.